Botanic est un réseau de jardineries spécialistes du jardinage écologique. Présente en France avec plus de 75 magasins, Botanic propose des conseils en jardinage, des solutions naturelles et des produits écologiques pour le jardin. Ses cinq univers incluent le jardin et le potager, l’alimentation bio, les soins et le bien-être, les plantes et la décoration, ainsi que l’animalerie.

La construction d’un modèle prédictif d’attrition clients, telle que nous l'avons effectué, est un outil stratégique pour Botanic, lui permettant de maintenir sa base de clients fidèles tout en optimisant ses ressources.

L’objectif principal d’un tel modèle est d’anticiper le départ des clients avant qu’ils ne quittent effectivement l’enseigne. Cela permet à Botanic de prendre des mesures proactives pour retenir ces clients et maintenir leur fidélité.

INSTALLATION DES LIBRAIRIES PYTHON

In [ ]:
import pip
pip.main(['install', 'pandas'])
pip.main(['install', 'matplotlib'])
pip.main(['install', 'seaborn'])
pip.main(['install', 'scikit-learn'])
!pip.main(['install', 'nbmerge'])
pip.main(['install', 'nbformat'])
!pip install nbformat ipynb-py-convert

IMPORTATION DES BIBLIOTHEQUES

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import MissingIndicator, KNNImputer,SimpleImputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

CHARGEMENT DU LIEN PKL DU NOTEBOOK "CLIENT"

In [3]:
CLIENTS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\CLIENTS_NET.pkl"
CLIENT = pd.read_pickle(CLIENTS)

CHARGEMENT DES DONNÉES DU NOTEBOOK "CLIENT"

In [4]:
CLIENT

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois
2,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois
5,104768.0,SMR,2017-11-05,FEMME,Inconnue,8 ans+,0-4 mois
8,104550.0,OBE,2017-10-19,FEMME,AGE DE 61-100,8 ans+,0-4 mois
9,104601.0,OBE,2017-09-01,FEMME,AGE DE 31-45,8 ans+,0-4 mois
...,...,...,...,...,...,...,...
719975,336771.0,BEA,2017-12-30,FEMME,Inconnue,8 ans+,0-4 mois
719976,1709516.0,VIB,2017-12-30,HOMME,Inconnue,8 ans+,0-4 mois
719977,1866695.0,MAN,2017-12-30,FEMME,AGE DE 61-100,8 ans+,0-4 mois
719978,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois
720049,402282.0,VIB,2017-12-31,HOMME,AGE DE 46-60,8 ans+,0-4 mois

In [5]:
CLIENT.shape

(203760, 7)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "REF_MAGASIN"

In [6]:
MAGASINS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\MAGASINS_NET.pkl"
REF_MAGASIN= pd.read_pickle(MAGASINS)

CHARGEMENT DES DONNÉES DU NOTEBOOK "REF_MAGASIN"

In [7]:
REF_MAGASIN

   MAGASIN                   VILLE LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE
0      MET              METZ-TESSY                 74              Rhône-Alpes
1      ALB         GILLY SUR ISERE                 73              Rhône-Alpes
2      ALM              LES MILLES                 13                 Littoral
3      AVI  VILLENEUVE-LES-AVIGNON                 30                 Littoral
4      BEA                BEAUMONT                 63             Centre-Paris
..     ...                     ...                ...                      ...
62     STR                SISTERON                  4                 Littoral
63     NEV            NEVERS CEDEX                 58             Centre-Paris
64     BSN                  CESSON                 77             Centre-Paris
65     CAG          CAGNES SUR MER                  6                 Littoral
66     RMA         RUEIL MALMAISON                 92             Centre-Paris

[67 rows x 4 columns]

JOINTURE DES NOTEBOOKS "CLIENT" ET "REF_MAGASIN".
Jointure effectuée sur la variable "MAGASIN".
Enregistrement d'un nouveau dataframe.

In [8]:
df_CLIENT_MAG = CLIENT.merge(REF_MAGASIN, how='left', left_on='MAGASIN', right_on='MAGASIN')

CHARGEMENT DES DONNÉES DU NOTEBOOK "df_CLIENT_MAG"

In [9]:
df_CLIENT_MAG

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes
1,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris
2,104768.0,SMR,2017-11-05,FEMME,Inconnue,8 ans+,0-4 mois,SAINT-MITRE-LES-REMPARTS,13,Littoral
3,104550.0,OBE,2017-10-19,FEMME,AGE DE 61-100,8 ans+,0-4 mois,OBERNAI,67,Alsace-Est
4,104601.0,OBE,2017-09-01,FEMME,AGE DE 31-45,8 ans+,0-4 mois,OBERNAI,67,Alsace-Est
...,...,...,...,...,...,...,...,...,...,...
203755,336771.0,BEA,2017-12-30,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris
203756,1709516.0,VIB,2017-12-30,HOMME,Inconnue,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes
203757,1866695.0,MAN,2017-12-30,FEMME,AGE DE 61-100,8 ans+,0-4 mois,MANOSQUE,4,Littoral
203758,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est
203759,402282.0,VIB,2017-12-31,HOMME,AGE DE 46-60,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [10]:
df_CLIENT_MAG.isnull().sum().sum()

0

In [11]:
df_CLIENT_MAG.shape

(203760, 10)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "ENTETES_TICKET"

In [12]:
ENTETES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ENTETES_TICKET_V4.pkl"
ENTETES_TICKET=pd.read_pickle(ENTETES)

CHARGEMENT DES DONNÉES DU NOTEBOOK "ENTETES_TICKET"

In [13]:
ENTETES_TICKET

              IDTICKET    TIC_DATE MAG_CODE   IDCLIENT  TIC_TOTALTTC
0          50100150510  02/01/2016      ALB  2995104.0         12.90
1          50100150511  02/01/2016      ALB  1411117.0        131.06
2          50100150515  02/01/2016      ALB   222592.0         34.69
3          50100150517  02/01/2016      ALB  2979958.0         97.58
4          50100150518  02/01/2016      ALB  2858676.0          4.70
...                ...         ...      ...        ...           ...
6714168  1340300014404  27/12/2016      RMA  2292927.0         59.45
6714169  1340300014407  27/12/2016      RMA  3189844.0         26.90
6714170  1340300014409  27/12/2016      RMA  3125998.0         22.15
6714171  1340300014438  27/12/2016      RMA  3252348.0        118.01
6714172  1340300014440  27/12/2016      RMA  3243933.0         44.80

[6714173 rows x 5 columns]

JOINTURE DES NOTEBOOKS "df_CLIENT_MAG" ET "ENTETES_TICKET". Jointure effectuée sur la variable "IDCLIENT". Enregistrement d'un nouveau dataframe.

In [14]:
df_CLIENT_MAG_ENTETES = df_CLIENT_MAG.merge(ENTETES_TICKET, how='inner', left_on='IDCLIENT', right_on='IDCLIENT')

CHARGEMENT DES DONNÉES DU NOTEBOOK "df_CLIENT_MAG_ENTETES"

In [15]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,MAG_CODE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,VLG,15.50
1,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,VLG,142.05
2,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,DUM,3.99
3,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,BEA,57.43
4,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,BEA,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011726,1709516.0,VIB,2017-12-30,HOMME,Inconnue,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,VIB,162.44
2011727,1866695.0,MAN,2017-12-30,FEMME,AGE DE 61-100,8 ans+,0-4 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,MAN,169.03
2011728,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,CLI,22.15
2011729,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,CLI,42.49
2011730,402282.0,VIB,2017-12-31,HOMME,AGE DE 46-60,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,VIB,94.10

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [16]:
df_CLIENT_MAG_ENTETES.isnull().sum().sum()

0

In [17]:
df_CLIENT_MAG_ENTETES.shape

(2011731, 14)

In [18]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,MAG_CODE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,VLG,15.50
1,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,VLG,142.05
2,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,DUM,3.99
3,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,BEA,57.43
4,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,BEA,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011726,1709516.0,VIB,2017-12-30,HOMME,Inconnue,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,VIB,162.44
2011727,1866695.0,MAN,2017-12-30,FEMME,AGE DE 61-100,8 ans+,0-4 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,MAN,169.03
2011728,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,CLI,22.15
2011729,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,CLI,42.49
2011730,402282.0,VIB,2017-12-31,HOMME,AGE DE 46-60,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,VIB,94.10

SUPPRESSION DE LA COLONNE 'MAG_CODE' QU'ON A REMPLACÉ PAR LA COLONNE 'MAGASIN'

In [19]:
df_CLIENT_MAG_ENTETES.drop(columns=['MAG_CODE'], inplace=True)

VÉRIFICATION DU TRAITEMENT

In [20]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,15.50
1,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,142.05
2,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,3.99
3,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,57.43
4,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011726,1709516.0,VIB,2017-12-30,HOMME,Inconnue,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,162.44
2011727,1866695.0,MAN,2017-12-30,FEMME,AGE DE 61-100,8 ans+,0-4 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,169.03
2011728,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,22.15
2011729,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,42.49
2011730,402282.0,VIB,2017-12-31,HOMME,AGE DE 46-60,8 ans+,0-4 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,94.10

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [21]:
df_CLIENT_MAG_ENTETES.isnull().sum().sum()

0

FILTRAGE DU DATAFRAME EN SÉLECTIONNANT QUE LES CLIENTS AYANT FAIT AU MOINS 2 COMMANDES

In [22]:
#Comptage des commandes par client
order_counts = df_CLIENT_MAG_ENTETES['IDCLIENT'].value_counts()

#Sélection des clients ayant fait au moins 2 commandes
clients_with_orders = order_counts[order_counts >= 2].index

#Filtrage du DataFrame original
df_CLIENT_MAG_ENTETES_FILTRED = df_CLIENT_MAG_ENTETES[df_CLIENT_MAG_ENTETES['IDCLIENT'].isin(clients_with_orders)]

# Affichage du DataFrame filtré
print(df_CLIENT_MAG_ENTETES_FILTRED)

          IDCLIENT MAGASIN DATEREADHESION   SEXE     AGE_GROUP  \
0         155891.0     VLG     2017-04-04  FEMME      Inconnue
1         155891.0     VLG     2017-04-04  FEMME      Inconnue
2         155891.0     VLG     2017-04-04  FEMME      Inconnue
3         124203.0     BEA     2017-10-12  FEMME      Inconnue
4         124203.0     BEA     2017-10-12  FEMME      Inconnue
...            ...     ...            ...    ...           ...
2011723   259890.0     SMR     2017-12-30  HOMME  AGE DE 46-60
2011725  1709516.0     VIB     2017-12-30  HOMME      Inconnue
2011726  1709516.0     VIB     2017-12-30  HOMME      Inconnue
2011728  2098666.0     CLI     2017-12-30  HOMME      Inconnue
2011729  2098666.0     CLI     2017-12-30  HOMME      Inconnue

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ                     VILLE  \
0                        8 ans+       8-10 mois            VILLE-LA-GRAND
1                        8 ans+       8-10 mois            VILLE-LA-GRAND
2                        8 ans+       8-10 mois            VILLE-LA-GRAND
3                        8 ans+        0-4 mois                  BEAUMONT
4                        8 ans+        0-4 mois                  BEAUMONT
...                         ...             ...                       ...
2011723                  8 ans+        0-4 mois  SAINT-MITRE-LES-REMPARTS
2011725                  8 ans+        0-4 mois              VILLEURBANNE
2011726                  8 ans+        0-4 mois              VILLEURBANNE
2011728                 5-8 ans        0-4 mois                    CLIRON
2011729                 5-8 ans        0-4 mois                    CLIRON

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE       IDTICKET  \
0                       74              Rhône-Alpes   450600359153
1                       74              Rhône-Alpes   450700131937
2                       74              Rhône-Alpes   630200092965
3                       63             Centre-Paris    80200537980
4                       63             Centre-Paris    80100912863
...                    ...                      ...            ...
2011723                 13                 Littoral   530300446156
2011725                 69              Rhône-Alpes   420300356693
2011726                 69              Rhône-Alpes   420300356694
2011728                  8               Alsace-Est  1100100385449
2011729                  8               Alsace-Est  1100200137081

           TIC_DATE  TIC_TOTALTTC
0        25/09/2017         15.50
1        04/04/2017        142.05
2        13/05/2017          3.99
3        29/08/2016         57.43
4        12/10/2017         67.67
...             ...           ...
2011723  30/12/2017         58.49
2011725  30/12/2017         15.54
2011726  30/12/2017        162.44
2011728  14/04/2016         22.15
2011729  30/12/2017         42.49

[1990597 rows x 13 columns]

VÉRIFICATION DU TRAITEMENT

In [23]:
df_CLIENT_MAG_ENTETES_FILTRED.shape

(1990597, 13)

In [24]:
df_CLIENT_MAG_ENTETES_FILTRED.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1990597 entries, 0 to 2011729
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IDCLIENT                  object
 1   MAGASIN                   object
 2   DATEREADHESION            datetime64[ns]
 3   SEXE                      object
 4   AGE_GROUP                 object
 5   ANCIENNETE_ADHESION_CAT   category
 6   ANCIENNETE_READ           category
 7   VILLE                     object
 8   LIBELLEDEPARTEMENT        object
 9   LIBELLEREGIONCOMMERCIALE  object
 10  IDTICKET                  object
 11  TIC_DATE                  object
 12  TIC_TOTALTTC              float64
dtypes: category(2), datetime64[ns](1), float64(1), object(9)
memory usage: 186.0+ MB

In [25]:
df_CLIENT_MAG_ENTETES_FILTRED.head()

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,15.50
1,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,142.05
2,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,3.99
3,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,57.43
4,124203.0,BEA,2017-10-12,FEMME,Inconnue,8 ans+,0-4 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,67.67

In [26]:
df_CLIENT_MAG_ENTETES_FILTRED.isnull().sum().sum()

0

CALCUL DE LA NOUVELLE VARIABLE 'FRÉQUENTATION_MAGASIN' PAR CLIENT

In [27]:
# Grouper par client et magasin et agréer pour avoir le décompte des visites
grouped = df_CLIENT_MAG_ENTETES_FILTRED.groupby(['IDCLIENT', 'MAGASIN']).agg({
    'IDTICKET': 'count',
    'TIC_TOTALTTC':'sum'
}).reset_index().rename(columns={'IDTICKET': 'FREQ_MAG'})

# Afficher le DataFrame groupé qui montre les fréquentations
print(grouped)

        IDCLIENT MAGASIN  FREQ_MAG  TIC_TOTALTTC
0        10000.0     PRI        31        813.16
1       100004.0     MUL         8        199.57
2       100010.0     SEM        17        971.56
3       100024.0     SMR        39       1325.87
4       100027.0     CLA         2        371.23
...          ...     ...       ...           ...
182341   99960.0     CLA        20       1113.01
182342   99964.0     SMR         7        263.97
182343   99965.0     CLA        11        336.62
182344   99975.0     SMR        16        577.34
182345   99986.0     MUL         9       1047.60

[182346 rows x 4 columns]

In [28]:
FREQ_MAG=grouped.loc[grouped.groupby('IDCLIENT')['TIC_TOTALTTC'].idxmax()]
print(FREQ_MAG)

        IDCLIENT MAGASIN  FREQ_MAG  TIC_TOTALTTC
0        10000.0     PRI        31        813.16
1       100004.0     MUL         8        199.57
2       100010.0     SEM        17        971.56
3       100024.0     SMR        39       1325.87
4       100027.0     CLA         2        371.23
...          ...     ...       ...           ...
182341   99960.0     CLA        20       1113.01
182342   99964.0     SMR         7        263.97
182343   99965.0     CLA        11        336.62
182344   99975.0     SMR        16        577.34
182345   99986.0     MUL         9       1047.60

[182346 rows x 4 columns]

In [29]:
# Ajouter une nouvelle colonne "FREQ_MAG"
df_CLIENT_MAG_ENTETES_FILTRED = pd.merge(
    df_CLIENT_MAG_ENTETES_FILTRED, 
    FREQ_MAG[['IDCLIENT', 'MAGASIN', 'FREQ_MAG']],
    on=['IDCLIENT', 'MAGASIN'],
    how='inner'
)

# Reset index for clarity although not strictly necessary
df_CLIENT_MAG_ENTETES_FILTRED = df_CLIENT_MAG_ENTETES_FILTRED.reset_index(drop=True)

# Afficher le DataFrame avec les nouvelles informations
print(df_CLIENT_MAG_ENTETES_FILTRED)

          IDCLIENT MAGASIN DATEREADHESION   SEXE     AGE_GROUP  \
0         155891.0     VLG     2017-04-04  FEMME      Inconnue
1         155891.0     VLG     2017-04-04  FEMME      Inconnue
2         155891.0     VLG     2017-04-04  FEMME      Inconnue
3         124203.0     BEA     2017-10-12  FEMME      Inconnue
4         124203.0     BEA     2017-10-12  FEMME      Inconnue
...            ...     ...            ...    ...           ...
1990592   259890.0     SMR     2017-12-30  HOMME  AGE DE 46-60
1990593  1709516.0     VIB     2017-12-30  HOMME      Inconnue
1990594  1709516.0     VIB     2017-12-30  HOMME      Inconnue
1990595  2098666.0     CLI     2017-12-30  HOMME      Inconnue
1990596  2098666.0     CLI     2017-12-30  HOMME      Inconnue

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ                     VILLE  \
0                        8 ans+       8-10 mois            VILLE-LA-GRAND
1                        8 ans+       8-10 mois            VILLE-LA-GRAND
2                        8 ans+       8-10 mois            VILLE-LA-GRAND
3                        8 ans+        0-4 mois                  BEAUMONT
4                        8 ans+        0-4 mois                  BEAUMONT
...                         ...             ...                       ...
1990592                  8 ans+        0-4 mois  SAINT-MITRE-LES-REMPARTS
1990593                  8 ans+        0-4 mois              VILLEURBANNE
1990594                  8 ans+        0-4 mois              VILLEURBANNE
1990595                 5-8 ans        0-4 mois                    CLIRON
1990596                 5-8 ans        0-4 mois                    CLIRON

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE       IDTICKET  \
0                       74              Rhône-Alpes   450600359153
1                       74              Rhône-Alpes   450700131937
2                       74              Rhône-Alpes   630200092965
3                       63             Centre-Paris    80200537980
4                       63             Centre-Paris    80100912863
...                    ...                      ...            ...
1990592                 13                 Littoral   530300446156
1990593                 69              Rhône-Alpes   420300356693
1990594                 69              Rhône-Alpes   420300356694
1990595                  8               Alsace-Est  1100100385449
1990596                  8               Alsace-Est  1100200137081

           TIC_DATE  TIC_TOTALTTC  FREQ_MAG
0        25/09/2017         15.50         3
1        04/04/2017        142.05         3
2        13/05/2017          3.99         3
3        29/08/2016         57.43         3
4        12/10/2017         67.67         3
...             ...           ...       ...
1990592  30/12/2017         58.49         2
1990593  30/12/2017         15.54         2
1990594  30/12/2017        162.44         2
1990595  14/04/2016         22.15         2
1990596  30/12/2017         42.49         2

[1990597 rows x 14 columns]

In [30]:
df_CLIENT_MAG_ENTETES_FILTRED.shape

(1990597, 14)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "LGNES_TICKETS"

In [31]:
LIGNES_TICKET = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\TICKETS_NET.pkl"
LGNES_TICKETS=pd.read_pickle(LIGNES_TICKET)

CHARGEMENT DES DONNÉES "LGNES_TICKETS"

In [33]:
LGNES_TICKETS

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR
0,190400316260,2,246208,1.0,0.000,4.96,2.37,0
1,190400316262,2,33725,1.0,0.000,8.25,3.63,0
2,190400316262,3,634497,1.0,0.000,5.79,3.63,0
3,190400316262,1,257613,1.0,0.000,18.29,6.21,0
4,190400316263,1,257627,1.0,0.000,49.92,10.42,0
...,...,...,...,...,...,...,...,...
34105700,340200383203,2,257643,1.0,0.000,4.69,1.83,0
34105701,340200383203,3,50170,1.0,0.000,3.18,1.00,0
34105702,340200383203,4,349345,1.0,0.000,3.46,1.13,0
34105703,340200383203,5,250580,2.0,0.000,6.80,2.18,0
34105704,340200383217,1,816313,20.0,1.818,1.82,1.42,0

CHARGEMENT DU LIEN PKL DU NOTEBOOK "REF_ARTICLE"

In [34]:
ARTICLES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ARTICLES_NET.pkl"
REF_ARTICLE = pd.read_pickle(ARTICLES)

CHARGEMENT DES DONNÉES "REF_ARTICLE"

In [35]:
REF_ARTICLE

       IDARTICLE CODEUNIVERS CODEFAMILLE
1           1001          U2         130
2         100125          U1         010
3         100150          U1         010
4          10018          U1         100
5          10019          U1         100
...          ...         ...         ...
665941    407717          U3         120
665942    407719          U3         120
665943    407720          U3         120
665944    407721          U3         120
665945    407723          U3         120

[665945 rows x 3 columns]

JOINTURE DES NOTEBOOKS "LIGNES_TICKET" ET "REF_ARTICLE". Jointure effectuée sur la variable "IDARTICLE". Enregistrement d'un nouveau dataframe.

In [37]:
df_LIGNE_ART=LGNES_TICKETS.merge(REF_ARTICLE, how='inner',left_on='IDARTICLE', right_on='IDARTICLE')

CHARGEMENT DES DONNÉES "df_LIGNE_ART"

In [38]:
df_LIGNE_ART

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR,CODEUNIVERS,CODEFAMILLE
0,190400316260,2,246208,1.0,0.000,4.96,2.37,0,U3,120
1,190400316262,2,33725,1.0,0.000,8.25,3.63,0,U3,120
2,190400316262,3,634497,1.0,0.000,5.79,3.63,0,U3,120
3,190400316262,1,257613,1.0,0.000,18.29,6.21,0,U3,120
4,190400316263,1,257627,1.0,0.000,49.92,10.42,0,U3,120
...,...,...,...,...,...,...,...,...,...,...
33841450,340200383203,2,257643,1.0,0.000,4.69,1.83,0,U4,220
33841451,340200383203,3,50170,1.0,0.000,3.18,1.00,0,U4,220
33841452,340200383203,4,349345,1.0,0.000,3.46,1.13,0,U4,220
33841453,340200383203,5,250580,2.0,0.000,6.80,2.18,0,U4,220
33841454,340200383217,1,816313,20.0,1.818,1.82,1.42,0,U3,120

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [39]:
df_LIGNE_ART.isnull().sum().sum()

0

Transposition de la colonne "CODEUNIVERS" pour faciliter la suite des jointures

In [40]:
#Transposition de la colonne "CODEUNIVERS" pour faciliter la suite des jointures
df_LIGNE_ART["codeunivers_U1"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U1',1,0)
df_LIGNE_ART["codeunivers_U2"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U2',1,0)
df_LIGNE_ART["codeunivers_U3"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U3',1,0)
df_LIGNE_ART["codeunivers_U4"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U4',1,0)

Aggrégation de df_CLIENT_MAG_ENT_LIG_ART par "IDTICKET"

In [41]:
#Aggrégation de df_CLIENT_MAG_ENT_LIG_ART par "IDTICKET"
df_LIGNE_ART=df_LIGNE_ART.groupby(["IDTICKET"]).agg(
    Quantite=('QUANTITE','sum'),
    NBRE_ARTICLE=('IDARTICLE', 'nunique'),
    NBRE_FAM_ARTICLE=('CODEFAMILLE','nunique'),
    UNIVERS_U1=('codeunivers_U1','sum'),
    UNIVERS_U2=('codeunivers_U2','sum'),
    UNIVERS_U3=('codeunivers_U3','sum'),
    UNIVERS_U4=('codeunivers_U4','sum'),
    TOTAL_REMISE=('MONTANTREMISE','sum'),
    MONTANT_TOTAL=('TOTAL','sum'),
    MARGE=('MARGESORTIE','sum')
).reset_index()
df_LIGNE_ART.head()

,IDTICKET,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,UNIVERS_U1,UNIVERS_U2,UNIVERS_U3,UNIVERS_U4,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,1000100553129,7.365,4,1,0,0,0,4,0.000,22.57,8.34
1,1000100553131,4.976,3,1,0,0,0,4,0.000,9.59,3.48
2,1000100553133,9.309,7,2,0,0,0,6,0.000,18.69,5.80
3,1000100553134,1.000,3,2,1,0,2,0,0.000,9.11,4.69
4,1000100553139,2.000,2,2,0,1,0,1,2.133,7.69,2.36

JOINTURE DES DATAFRAMES

In [42]:
# Appliquer melt pour les univers
df_LIGNE_ART_melted = df_LIGNE_ART.melt(
    id_vars=['IDTICKET'],  
    value_vars=['UNIVERS_U1', 'UNIVERS_U2', 'UNIVERS_U3', 'UNIVERS_U4'],
    var_name='TYPE_UNIVERS',
    value_name='CODEUNIVERS'
)

# Affichage pour vérification
print(df_LIGNE_ART_melted)

# Joints le résultat fondu sur les autres colonnes d'intérêt
df_LIGNE_ART_melted = df_LIGNE_ART_melted.join(df_LIGNE_ART.set_index('IDTICKET'), on='IDTICKET', lsuffix='_left', rsuffix='_right')

# Enlever les colonnes univers éclatées initiales après le merge
df_LIGNE_ART_melted = df_LIGNE_ART_melted.drop(['UNIVERS_U1', 'UNIVERS_U2', 'UNIVERS_U3', 'UNIVERS_U4'], axis=1)

# Afficher le DataFrame final pour vérification
print(df_LIGNE_ART_melted)

               IDTICKET TYPE_UNIVERS  CODEUNIVERS
0         1000100553129   UNIVERS_U1            0
1         1000100553131   UNIVERS_U1            0
2         1000100553133   UNIVERS_U1            0
3         1000100553134   UNIVERS_U1            1
4         1000100553139   UNIVERS_U1            0
...                 ...          ...          ...
26855283   990600196600   UNIVERS_U4           17
26855284   990600196602   UNIVERS_U4           37
26855285   990600196607   UNIVERS_U4            0
26855286   990600196608   UNIVERS_U4            0
26855287   990600196609   UNIVERS_U4            1

[26855288 rows x 3 columns]
               IDTICKET TYPE_UNIVERS  CODEUNIVERS  Quantite  NBRE_ARTICLE  \
0         1000100553129   UNIVERS_U1            0     7.365             4
1         1000100553131   UNIVERS_U1            0     4.976             3
2         1000100553133   UNIVERS_U1            0     9.309             7
3         1000100553134   UNIVERS_U1            1     1.000             3
4         1000100553139   UNIVERS_U1            0     2.000             2
...                 ...          ...          ...       ...           ...
26855283   990600196600   UNIVERS_U4           17    16.737            17
26855284   990600196602   UNIVERS_U4           37    36.090            37
26855285   990600196607   UNIVERS_U4            0    12.000             8
26855286   990600196608   UNIVERS_U4            0     1.000             1
26855287   990600196609   UNIVERS_U4            1     7.000             7

          NBRE_FAM_ARTICLE  TOTAL_REMISE  MONTANT_TOTAL  MARGE
0                        1         0.000          22.57   8.34
1                        1         0.000           9.59   3.48
2                        2         0.000          18.69   5.80
3                        2         0.000           9.11   4.69
4                        2         2.133           7.69   2.36
...                    ...           ...            ...    ...
26855283                 1         2.340          53.29  18.73
26855284                 1         5.264         101.00  28.80
26855285                 2        19.208          69.41  37.23
26855286                 1         0.000          27.26  13.96
26855287                 4        11.085          66.49  29.79

[26855288 rows x 9 columns]

VÉRIFICATION DE LA JOINTURE

In [43]:
df_LIGNE_ART_melted

,IDTICKET,TYPE_UNIVERS,CODEUNIVERS,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,1000100553129,UNIVERS_U1,0,7.365,4,1,0.000,22.57,8.34
1,1000100553131,UNIVERS_U1,0,4.976,3,1,0.000,9.59,3.48
2,1000100553133,UNIVERS_U1,0,9.309,7,2,0.000,18.69,5.80
3,1000100553134,UNIVERS_U1,1,1.000,3,2,0.000,9.11,4.69
4,1000100553139,UNIVERS_U1,0,2.000,2,2,2.133,7.69,2.36
...,...,...,...,...,...,...,...,...,...
26855283,990600196600,UNIVERS_U4,17,16.737,17,1,2.340,53.29,18.73
26855284,990600196602,UNIVERS_U4,37,36.090,37,1,5.264,101.00,28.80
26855285,990600196607,UNIVERS_U4,0,12.000,8,2,19.208,69.41,37.23
26855286,990600196608,UNIVERS_U4,0,1.000,1,1,0.000,27.26,13.96
26855287,990600196609,UNIVERS_U4,1,7.000,7,4,11.085,66.49,29.79

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [44]:
df_LIGNE_ART_melted.isnull().sum().sum()

0

JOINTURE DES DATAFRAMES "df_CLIENT_MAG_ENTETES_FILTRED" ET "df_LIGNE_ART_melted". Jointure effectuée sur la variables "IDTICKET". Enregistrement d'un nouveau dataframe.

In [45]:
df_BOTANIC_1=df_CLIENT_MAG_ENTETES_FILTRED.merge(df_LIGNE_ART_melted, how='inner',left_on='IDTICKET', right_on='IDTICKET')

CHARGEMENT DU NOUVEAU DATAFRAME

In [46]:
df_BOTANIC_1

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,...,TIC_TOTALTTC,FREQ_MAG,TYPE_UNIVERS,CODEUNIVERS,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,...,15.50,3,UNIVERS_U1,1,1.0,1,1,0.000,14.09,8.60
1,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,...,15.50,3,UNIVERS_U2,0,1.0,1,1,0.000,14.09,8.60
2,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,...,15.50,3,UNIVERS_U3,0,1.0,1,1,0.000,14.09,8.60
3,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,...,15.50,3,UNIVERS_U4,0,1.0,1,1,0.000,14.09,8.60
4,155891.0,VLG,2017-04-04,FEMME,Inconnue,8 ans+,8-10 mois,VILLE-LA-GRAND,74,Rhône-Alpes,...,142.05,3,UNIVERS_U1,15,20.0,18,4,12.955,122.98,63.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7962047,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,...,22.15,2,UNIVERS_U4,1,5.0,5,3,0.000,20.25,8.53
7962048,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,...,42.49,2,UNIVERS_U1,0,3.0,3,2,4.992,35.41,17.52
7962049,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,...,42.49,2,UNIVERS_U2,0,3.0,3,2,4.992,35.41,17.52
7962050,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,...,42.49,2,UNIVERS_U3,2,3.0,3,2,4.992,35.41,17.52
7962051,2098666.0,CLI,2017-12-30,HOMME,Inconnue,5-8 ans,0-4 mois,CLIRON,8,Alsace-Est,...,42.49,2,UNIVERS_U4,0,3.0,3,2,4.992,35.41,17.52

In [47]:
df_BOTANIC_1.shape

(7962052, 22)

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [48]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul de la variété du panier pour chaque client

In [49]:
# Calculer le nombre unique de catégories de produits pour chaque client
variete_panier = df_BOTANIC_1.groupby('IDCLIENT')['NBRE_ARTICLE'].nunique().reset_index()

# Renommer la colonne résultante à quelque chose de descriptif
variete_panier.columns = ['IDCLIENT', 'Variete_Panier']

print("Variété du panier pour chaque client")
print(variete_panier)
# Effectuer un merge pour intégrer variete_panier au DataFrame original
df_BOTANIC_1 = df_BOTANIC_1.merge(variete_panier, on='IDCLIENT', how='right')

# Affichage du DataFrame final
print(df_BOTANIC_1)

Variété du panier pour chaque client
        IDCLIENT  Variete_Panier
0        10000.0               6
1       100004.0               3
2       100010.0               9
3       100024.0               6
4       100027.0               2
...          ...             ...
182341   99960.0              10
182342   99964.0               4
182343   99965.0               6
182344   99975.0               3
182345   99986.0               6

[182346 rows x 2 columns]
        IDCLIENT MAGASIN DATEREADHESION   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11  FEMME       Inconnue
1        10000.0     PRI     2017-05-11  FEMME       Inconnue
2        10000.0     PRI     2017-05-11  FEMME       Inconnue
3        10000.0     PRI     2017-05-11  FEMME       Inconnue
4        10000.0     PRI     2017-05-11  FEMME       Inconnue
...          ...     ...            ...    ...            ...
7962047  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962048  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962049  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962050  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962051  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ         VILLE  \
0                        8 ans+        6-8 mois  SAINT-PRIEST
1                        8 ans+        6-8 mois  SAINT-PRIEST
2                        8 ans+        6-8 mois  SAINT-PRIEST
3                        8 ans+        6-8 mois  SAINT-PRIEST
4                        8 ans+        6-8 mois  SAINT-PRIEST
...                         ...             ...           ...
7962047                  8 ans+        0-4 mois      MULHOUSE
7962048                  8 ans+        0-4 mois      MULHOUSE
7962049                  8 ans+        0-4 mois      MULHOUSE
7962050                  8 ans+        0-4 mois      MULHOUSE
7962051                  8 ans+        0-4 mois      MULHOUSE

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  ... FREQ_MAG  \
0                       69              Rhône-Alpes  ...       31
1                       69              Rhône-Alpes  ...       31
2                       69              Rhône-Alpes  ...       31
3                       69              Rhône-Alpes  ...       31
4                       69              Rhône-Alpes  ...       31
...                    ...                      ...  ...      ...
7962047                 68               Alsace-Est  ...        9
7962048                 68               Alsace-Est  ...        9
7962049                 68               Alsace-Est  ...        9
7962050                 68               Alsace-Est  ...        9
7962051                 68               Alsace-Est  ...        9

        TYPE_UNIVERS  CODEUNIVERS  Quantite NBRE_ARTICLE  NBRE_FAM_ARTICLE  \
0         UNIVERS_U1            0       2.0            2                 1
1         UNIVERS_U2            0       2.0            2                 1
2         UNIVERS_U3            2       2.0            2                 1
3         UNIVERS_U4            0       2.0            2                 1
4         UNIVERS_U1            2       3.0            3                 2
...              ...          ...       ...          ...               ...
7962047   UNIVERS_U4            4      15.0            4                 2
7962048   UNIVERS_U1            0      10.0            9                 1
7962049   UNIVERS_U2            0      10.0            9                 1
7962050   UNIVERS_U3            9      10.0            9                 1
7962051   UNIVERS_U4            0      10.0            9                 1

         TOTAL_REMISE  MONTANT_TOTAL  MARGE  Variete_Panier
0               1.650           9.34   4.75               6
1               1.650           9.34   4.75               6
2               1.650           9.34   4.75               6
3               1.650           9.34   4.75               6
4               0.000          25.42  16.43               6
...               ...            ...    ...             ...
7962047         5.434          24.56  11.48               6
7962048         0.333         126.15  65.19               6
7962049         0.333         126.15  65.19               6
7962050         0.333         126.15  65.19               6
7962051         0.333         126.15  65.19               6

[7962052 rows x 23 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [50]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul du nombre d'univers distincts dans lesquels chaque client a acheté

In [51]:
# Calcul du nombre d'univers distincts dans lesquels chaque client a acheté
univers_par_client = df_BOTANIC_1.groupby('IDCLIENT')['CODEUNIVERS'].nunique().reset_index()
univers_par_client.columns = ['IDCLIENT', 'Nb_Univers']

print("Nombre d'univers distincts pour chaque client")
print(univers_par_client)
# Effectuer un merge pour intégrer Nb_Univers au DataFrame original
df_BOTANIC_1 = df_BOTANIC_1.merge(univers_par_client, on='IDCLIENT', how='right')

# Affichage du DataFrame final
print(df_BOTANIC_1)

Nombre d'univers distincts pour chaque client
        IDCLIENT  Nb_Univers
0        10000.0           7
1       100004.0           4
2       100010.0           7
3       100024.0           6
4       100027.0           6
...          ...         ...
182341   99960.0           9
182342   99964.0           4
182343   99965.0           9
182344   99975.0           4
182345   99986.0           9

[182346 rows x 2 columns]
        IDCLIENT MAGASIN DATEREADHESION   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11  FEMME       Inconnue
1        10000.0     PRI     2017-05-11  FEMME       Inconnue
2        10000.0     PRI     2017-05-11  FEMME       Inconnue
3        10000.0     PRI     2017-05-11  FEMME       Inconnue
4        10000.0     PRI     2017-05-11  FEMME       Inconnue
...          ...     ...            ...    ...            ...
7962047  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962048  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962049  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962050  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962051  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ         VILLE  \
0                        8 ans+        6-8 mois  SAINT-PRIEST
1                        8 ans+        6-8 mois  SAINT-PRIEST
2                        8 ans+        6-8 mois  SAINT-PRIEST
3                        8 ans+        6-8 mois  SAINT-PRIEST
4                        8 ans+        6-8 mois  SAINT-PRIEST
...                         ...             ...           ...
7962047                  8 ans+        0-4 mois      MULHOUSE
7962048                  8 ans+        0-4 mois      MULHOUSE
7962049                  8 ans+        0-4 mois      MULHOUSE
7962050                  8 ans+        0-4 mois      MULHOUSE
7962051                  8 ans+        0-4 mois      MULHOUSE

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  ... TYPE_UNIVERS  \
0                       69              Rhône-Alpes  ...   UNIVERS_U1
1                       69              Rhône-Alpes  ...   UNIVERS_U2
2                       69              Rhône-Alpes  ...   UNIVERS_U3
3                       69              Rhône-Alpes  ...   UNIVERS_U4
4                       69              Rhône-Alpes  ...   UNIVERS_U1
...                    ...                      ...  ...          ...
7962047                 68               Alsace-Est  ...   UNIVERS_U4
7962048                 68               Alsace-Est  ...   UNIVERS_U1
7962049                 68               Alsace-Est  ...   UNIVERS_U2
7962050                 68               Alsace-Est  ...   UNIVERS_U3
7962051                 68               Alsace-Est  ...   UNIVERS_U4

        CODEUNIVERS  Quantite  NBRE_ARTICLE NBRE_FAM_ARTICLE  TOTAL_REMISE  \
0                 0       2.0             2                1         1.650
1                 0       2.0             2                1         1.650
2                 2       2.0             2                1         1.650
3                 0       2.0             2                1         1.650
4                 2       3.0             3                2         0.000
...             ...       ...           ...              ...           ...
7962047           4      15.0             4                2         5.434
7962048           0      10.0             9                1         0.333
7962049           0      10.0             9                1         0.333
7962050           9      10.0             9                1         0.333
7962051           0      10.0             9                1         0.333

         MONTANT_TOTAL  MARGE  Variete_Panier  Nb_Univers
0                 9.34   4.75               6           7
1                 9.34   4.75               6           7
2                 9.34   4.75               6           7
3                 9.34   4.75               6           7
4                25.42  16.43               6           7
...                ...    ...             ...         ...
7962047          24.56  11.48               6           9
7962048         126.15  65.19               6           9
7962049         126.15  65.19               6           9
7962050         126.15  65.19               6           9
7962051         126.15  65.19               6           9

[7962052 rows x 24 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [52]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul de l'univers préféré pour chaque client

In [53]:
#Compter le nombre d'achats dans chaque univers pour chaque client** :

# Compter le nombre d'achats par client et par univers
client_universe_counts = df_BOTANIC_1.groupby(['IDCLIENT', 'CODEUNIVERS']).size().reset_index(name='COUNT')

# Afficher les résultats
print(client_universe_counts)

#Identifier l'univers le plus fréquent pour chaque client** :

# Trouver l'univers avec le nombre maximum d'achats pour chaque client
favorite_universe = client_universe_counts.loc[client_universe_counts.groupby('IDCLIENT')['COUNT'].idxmax()]

# Renommer la colonne pour plus de clarté
favorite_universe = favorite_universe.rename(columns={'CODEUNIVERS': 'UNIVERS_PREFERE'})

# Supprimer la colonne COUNT puisque ce n'est plus nécessaire
favorite_universe = favorite_universe.drop(columns=['COUNT'])

# Afficher les résultats
print(favorite_universe)
# Fusionner l'information de l'univers préféré dans le DataFrame original
df_BOTANIC_1 = pd.merge(df_BOTANIC_1, favorite_universe, on='IDCLIENT', how='left')

# Afficher le DataFrame final avec la nouvelle variable
print(df_BOTANIC_1)

        IDCLIENT  CODEUNIVERS  COUNT
0        10000.0            0     81
1        10000.0            1     22
2        10000.0            2     14
3        10000.0            3      4
4        10000.0            4      1
...          ...          ...    ...
1108143  99986.0            4      1
1108144  99986.0            5      1
1108145  99986.0            6      2
1108146  99986.0            9      1
1108147  99986.0           18      1

[1108148 rows x 3 columns]
         IDCLIENT  UNIVERS_PREFERE
0         10000.0                0
7        100004.0                0
11       100010.0                0
18       100024.0                0
24       100027.0                0
...           ...              ...
1108113   99960.0                0
1108122   99964.0                0
1108126   99965.0                0
1108135   99975.0                0
1108139   99986.0                0

[182346 rows x 2 columns]
        IDCLIENT MAGASIN DATEREADHESION   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11  FEMME       Inconnue
1        10000.0     PRI     2017-05-11  FEMME       Inconnue
2        10000.0     PRI     2017-05-11  FEMME       Inconnue
3        10000.0     PRI     2017-05-11  FEMME       Inconnue
4        10000.0     PRI     2017-05-11  FEMME       Inconnue
...          ...     ...            ...    ...            ...
7962047  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962048  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962049  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962050  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962051  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ         VILLE  \
0                        8 ans+        6-8 mois  SAINT-PRIEST
1                        8 ans+        6-8 mois  SAINT-PRIEST
2                        8 ans+        6-8 mois  SAINT-PRIEST
3                        8 ans+        6-8 mois  SAINT-PRIEST
4                        8 ans+        6-8 mois  SAINT-PRIEST
...                         ...             ...           ...
7962047                  8 ans+        0-4 mois      MULHOUSE
7962048                  8 ans+        0-4 mois      MULHOUSE
7962049                  8 ans+        0-4 mois      MULHOUSE
7962050                  8 ans+        0-4 mois      MULHOUSE
7962051                  8 ans+        0-4 mois      MULHOUSE

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  ... CODEUNIVERS Quantite  \
0                       69              Rhône-Alpes  ...           0      2.0
1                       69              Rhône-Alpes  ...           0      2.0
2                       69              Rhône-Alpes  ...           2      2.0
3                       69              Rhône-Alpes  ...           0      2.0
4                       69              Rhône-Alpes  ...           2      3.0
...                    ...                      ...  ...         ...      ...
7962047                 68               Alsace-Est  ...           4     15.0
7962048                 68               Alsace-Est  ...           0     10.0
7962049                 68               Alsace-Est  ...           0     10.0
7962050                 68               Alsace-Est  ...           9     10.0
7962051                 68               Alsace-Est  ...           0     10.0

         NBRE_ARTICLE  NBRE_FAM_ARTICLE TOTAL_REMISE  MONTANT_TOTAL  MARGE  \
0                   2                 1        1.650           9.34   4.75
1                   2                 1        1.650           9.34   4.75
2                   2                 1        1.650           9.34   4.75
3                   2                 1        1.650           9.34   4.75
4                   3                 2        0.000          25.42  16.43
...               ...               ...          ...            ...    ...
7962047             4                 2        5.434          24.56  11.48
7962048             9                 1        0.333         126.15  65.19
7962049             9                 1        0.333         126.15  65.19
7962050             9                 1        0.333         126.15  65.19
7962051             9                 1        0.333         126.15  65.19

         Variete_Panier  Nb_Univers  UNIVERS_PREFERE
0                     6           7                0
1                     6           7                0
2                     6           7                0
3                     6           7                0
4                     6           7                0
...                 ...         ...              ...
7962047               6           9                0
7962048               6           9                0
7962049               6           9                0
7962050               6           9                0
7962051               6           9                0

[7962052 rows x 25 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [54]:
df_BOTANIC_1.isnull().sum().sum()

0

Vérification du traitement

In [55]:
df_BOTANIC_1.head()

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,...,CODEUNIVERS,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE,Variete_Panier,Nb_Univers,UNIVERS_PREFERE
0,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,0,2.0,2,1,1.65,9.34,4.75,6,7,0
1,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,0,2.0,2,1,1.65,9.34,4.75,6,7,0
2,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,2,2.0,2,1,1.65,9.34,4.75,6,7,0
3,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,0,2.0,2,1,1.65,9.34,4.75,6,7,0
4,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,2,3.0,3,2,0.00,25.42,16.43,6,7,0

In [56]:
df_BOTANIC_1.shape

(7962052, 25)

FILTRAGE DES DATAFRAMES

In [57]:
from datetime import datetime
# Convertir la colonne 'DATE_COMMANDE' en type datetime
df_BOTANIC_1['TIC_DATE'] = pd.to_datetime(df_BOTANIC_1['TIC_DATE'],dayfirst=True, errors='coerce')
# Filtrer les transactions effectuées en 2016
df_2016 = df_BOTANIC_1[(df_BOTANIC_1['TIC_DATE'] >= '2016-01-01') & (df_BOTANIC_1['TIC_DATE'] < '2017-01-01')]

# Filtrer les transactions effectuées en 2017 (si nécessaire)
df_2017 = df_BOTANIC_1[(df_BOTANIC_1['TIC_DATE'] >= '2017-01-01') & (df_BOTANIC_1['TIC_DATE'] < '2018-01-01')]

In [58]:
print(df_2016)

        IDCLIENT MAGASIN DATEREADHESION   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11  FEMME       Inconnue
1        10000.0     PRI     2017-05-11  FEMME       Inconnue
2        10000.0     PRI     2017-05-11  FEMME       Inconnue
3        10000.0     PRI     2017-05-11  FEMME       Inconnue
4        10000.0     PRI     2017-05-11  FEMME       Inconnue
...          ...     ...            ...    ...            ...
7962023  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962032  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962033  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962034  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7962035  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ         VILLE  \
0                        8 ans+        6-8 mois  SAINT-PRIEST
1                        8 ans+        6-8 mois  SAINT-PRIEST
2                        8 ans+        6-8 mois  SAINT-PRIEST
3                        8 ans+        6-8 mois  SAINT-PRIEST
4                        8 ans+        6-8 mois  SAINT-PRIEST
...                         ...             ...           ...
7962023                  8 ans+        0-4 mois      MULHOUSE
7962032                  8 ans+        0-4 mois      MULHOUSE
7962033                  8 ans+        0-4 mois      MULHOUSE
7962034                  8 ans+        0-4 mois      MULHOUSE
7962035                  8 ans+        0-4 mois      MULHOUSE

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  ... CODEUNIVERS Quantite  \
0                       69              Rhône-Alpes  ...           0      2.0
1                       69              Rhône-Alpes  ...           0      2.0
2                       69              Rhône-Alpes  ...           2      2.0
3                       69              Rhône-Alpes  ...           0      2.0
4                       69              Rhône-Alpes  ...           2      3.0
...                    ...                      ...  ...         ...      ...
7962023                 68               Alsace-Est  ...           2      9.0
7962032                 68               Alsace-Est  ...           0     14.0
7962033                 68               Alsace-Est  ...           0     14.0
7962034                 68               Alsace-Est  ...           2     14.0
7962035                 68               Alsace-Est  ...           6     14.0

         NBRE_ARTICLE  NBRE_FAM_ARTICLE TOTAL_REMISE  MONTANT_TOTAL  MARGE  \
0                   2                 1        1.650           9.34   4.75
1                   2                 1        1.650           9.34   4.75
2                   2                 1        1.650           9.34   4.75
3                   2                 1        1.650           9.34   4.75
4                   3                 2        0.000          25.42  16.43
...               ...               ...          ...            ...    ...
7962023             5                 3        0.000          28.22  17.97
7962032             8                 3        6.081          33.31  13.89
7962033             8                 3        6.081          33.31  13.89
7962034             8                 3        6.081          33.31  13.89
7962035             8                 3        6.081          33.31  13.89

         Variete_Panier  Nb_Univers  UNIVERS_PREFERE
0                     6           7                0
1                     6           7                0
2                     6           7                0
3                     6           7                0
4                     6           7                0
...                 ...         ...              ...
7962023               6           9                0
7962032               6           9                0
7962033               6           9                0
7962034               6           9                0
7962035               6           9                0

[3818260 rows x 25 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [59]:
df_2016.isnull().sum().sum()

0

In [60]:
# Calcul des Xi en 2016
Botanic_features_2016 = df_2016.groupby('IDCLIENT').agg(
    NBRE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='count'),
    TOTAL_ACHAT_2016=pd.NamedAgg(column='TIC_TOTALTTC', aggfunc='sum'),
    PREMIERE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='min'),
    DERNIERE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='max')
).reset_index()

In [61]:
Botanic_features_2016

,IDCLIENT,NBRE_COMMANDE_2016,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016
0,10000.0,60,1936.76,2016-01-20,2016-11-20
1,100010.0,28,957.80,2016-02-11,2016-12-09
2,100024.0,80,3157.20,2016-01-16,2016-12-24
3,10003.0,28,1256.48,2016-01-13,2016-08-20
4,100038.0,24,1952.08,2016-01-16,2016-12-11
...,...,...,...,...,...
148503,99960.0,44,2981.12,2016-01-21,2016-12-11
148504,99964.0,12,678.68,2016-06-30,2016-11-28
148505,99965.0,20,575.24,2016-03-07,2016-12-08
148506,99975.0,20,847.80,2016-04-30,2016-11-26
148507,99986.0,12,1739.20,2016-04-14,2016-12-08

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [62]:
Botanic_features_2016.isnull().sum().sum()

0

Calcul de l'ancienneté de la première et dernière commande pour chaque client à partir de la date de référence

In [63]:
# Définir la date de fin 2016
end_date_2016 = pd.to_datetime('2016-12-31')

# 3. Calculer ANCIENNETE_1ERE_CDE et ANCIENNETE_DERNIERE_CDE
Botanic_features_2016['ANCIENNETE_1ERE_CDE_2016'] = (end_date_2016 - Botanic_features_2016['PREMIERE_COMMANDE_2016']).dt.days
Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016'] = (end_date_2016 - Botanic_features_2016['DERNIERE_COMMANDE_2016']).dt.days

# 4. Afficher le DataFrame mis à jour
print(Botanic_features_2016)

        IDCLIENT  NBRE_COMMANDE_2016  TOTAL_ACHAT_2016 PREMIERE_COMMANDE_2016  \
0        10000.0                  60           1936.76             2016-01-20
1       100010.0                  28            957.80             2016-02-11
2       100024.0                  80           3157.20             2016-01-16
3        10003.0                  28           1256.48             2016-01-13
4       100038.0                  24           1952.08             2016-01-16
...          ...                 ...               ...                    ...
148503   99960.0                  44           2981.12             2016-01-21
148504   99964.0                  12            678.68             2016-06-30
148505   99965.0                  20            575.24             2016-03-07
148506   99975.0                  20            847.80             2016-04-30
148507   99986.0                  12           1739.20             2016-04-14

       DERNIERE_COMMANDE_2016  ANCIENNETE_1ERE_CDE_2016  \
0                  2016-11-20                       346
1                  2016-12-09                       324
2                  2016-12-24                       350
3                  2016-08-20                       353
4                  2016-12-11                       350
...                       ...                       ...
148503             2016-12-11                       345
148504             2016-11-28                       184
148505             2016-12-08                       299
148506             2016-11-26                       245
148507             2016-12-08                       261

        ANCIENNETE_DERNIERE_CDE_2016
0                                 41
1                                 22
2                                  7
3                                133
4                                 20
...                              ...
148503                            20
148504                            33
148505                            23
148506                            35
148507                            23

[148508 rows x 7 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [64]:
Botanic_features_2016.isnull().sum().sum()

0

Calcul du temps moyen entre 2 commandes en 2016

In [65]:
#Calcul du temps moyen entre 2 commandes en 2016
Botanic_features_2016['TEMPS_MOY_CDE_2016']= (Botanic_features_2016['ANCIENNETE_1ERE_CDE_2016']- Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016']) /(Botanic_features_2016['NBRE_COMMANDE_2016']-1)
# Affichage du DataFrame final
print(Botanic_features_2016)

        IDCLIENT  NBRE_COMMANDE_2016  TOTAL_ACHAT_2016 PREMIERE_COMMANDE_2016  \
0        10000.0                  60           1936.76             2016-01-20
1       100010.0                  28            957.80             2016-02-11
2       100024.0                  80           3157.20             2016-01-16
3        10003.0                  28           1256.48             2016-01-13
4       100038.0                  24           1952.08             2016-01-16
...          ...                 ...               ...                    ...
148503   99960.0                  44           2981.12             2016-01-21
148504   99964.0                  12            678.68             2016-06-30
148505   99965.0                  20            575.24             2016-03-07
148506   99975.0                  20            847.80             2016-04-30
148507   99986.0                  12           1739.20             2016-04-14

       DERNIERE_COMMANDE_2016  ANCIENNETE_1ERE_CDE_2016  \
0                  2016-11-20                       346
1                  2016-12-09                       324
2                  2016-12-24                       350
3                  2016-08-20                       353
4                  2016-12-11                       350
...                       ...                       ...
148503             2016-12-11                       345
148504             2016-11-28                       184
148505             2016-12-08                       299
148506             2016-11-26                       245
148507             2016-12-08                       261

        ANCIENNETE_DERNIERE_CDE_2016  TEMPS_MOY_CDE_2016
0                                 41            5.169492
1                                 22           11.185185
2                                  7            4.341772
3                                133            8.148148
4                                 20           14.347826
...                              ...                 ...
148503                            20            7.558140
148504                            33           13.727273
148505                            23           14.526316
148506                            35           11.052632
148507                            23           21.636364

[148508 rows x 8 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [66]:
Botanic_features_2016.isnull().sum().sum()

0

In [67]:
import pandas as pd

# Vérifiez s'il y a des zéros dans 'ANCIENNETE_DERNIERE_CDE_2016'
nb_zeros_anciennete = (Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016'] == 0).sum()
print(f"Nombre de zéros dans 'ANCIENNETE_DERNIERE_CDE_2016': {nb_zeros_anciennete}")

# Vérifiez les types de données
print("Types de données:")
print(Botanic_features_2016[['TEMPS_MOY_CDE_2016', 'ANCIENNETE_DERNIERE_CDE_2016']].dtypes)

# Si nécessaire, corrigez les types de données
Botanic_features_2016['TEMPS_MOY_CDE_2016'] = Botanic_features_2016['TEMPS_MOY_CDE_2016'].astype(float)
Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016'] = Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016'].astype(float)

# Remplacez les zéros dans 'ANCIENNETE_DERNIERE_CDE_2016' par une petite valeur (ex: 1)
Botanic_features_2016.replace({'ANCIENNETE_DERNIERE_CDE_2016': {0: 1}}, inplace=True)

Nombre de zéros dans 'ANCIENNETE_DERNIERE_CDE_2016': 2156
Types de données:
TEMPS_MOY_CDE_2016              float64
ANCIENNETE_DERNIERE_CDE_2016      int64
dtype: object

CALCUL DE LA FRÉQUENCE DES COMMANDES

In [68]:
# Calcul de la nouvelle variable
Botanic_features_2016['FREQ_COMMANDE_2016'] = Botanic_features_2016['TEMPS_MOY_CDE_2016'] / Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016']

print("\nNouvelle variable 'FREQ_COMMANDE_2016':")
print(Botanic_features_2016['FREQ_COMMANDE_2016'])

print("Valeurs manquantes par colonne après création de la nouvelle variable:")
print(Botanic_features_2016['FREQ_COMMANDE_2016'].isnull().sum())

Nouvelle variable 'FREQ_COMMANDE_2016':
0         0.126085
1         0.508418
2         0.620253
3         0.061264
4         0.717391
            ...
148503    0.377907
148504    0.415978
148505    0.631579
148506    0.315789
148507    0.940711
Name: FREQ_COMMANDE_2016, Length: 148508, dtype: float64
Valeurs manquantes par colonne après création de la nouvelle variable:
0

In [69]:
Botanic_features_2016.head()

,IDCLIENT,NBRE_COMMANDE_2016,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016,ANCIENNETE_1ERE_CDE_2016,ANCIENNETE_DERNIERE_CDE_2016,TEMPS_MOY_CDE_2016,FREQ_COMMANDE_2016
0,10000.0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085
1,100010.0,28,957.80,2016-02-11,2016-12-09,324,22.0,11.185185,0.508418
2,100024.0,80,3157.20,2016-01-16,2016-12-24,350,7.0,4.341772,0.620253
3,10003.0,28,1256.48,2016-01-13,2016-08-20,353,133.0,8.148148,0.061264
4,100038.0,24,1952.08,2016-01-16,2016-12-11,350,20.0,14.347826,0.717391

In [70]:
# Fusionner df_BOTANIC_1 avec df_BOTANIC_combined sur 'IDCLIENT'
df_BOTANIC_F = pd.merge(df_BOTANIC_1, Botanic_features_2016, on='IDCLIENT', how='inner')
print(df_BOTANIC_F)

        IDCLIENT MAGASIN DATEREADHESION   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11  FEMME       Inconnue
1        10000.0     PRI     2017-05-11  FEMME       Inconnue
2        10000.0     PRI     2017-05-11  FEMME       Inconnue
3        10000.0     PRI     2017-05-11  FEMME       Inconnue
4        10000.0     PRI     2017-05-11  FEMME       Inconnue
...          ...     ...            ...    ...            ...
7408787  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7408788  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7408789  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7408790  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100
7408791  99986.0     MUL     2017-10-27  FEMME  AGE DE 61-100

        ANCIENNETE_ADHESION_CAT ANCIENNETE_READ         VILLE  \
0                        8 ans+        6-8 mois  SAINT-PRIEST
1                        8 ans+        6-8 mois  SAINT-PRIEST
2                        8 ans+        6-8 mois  SAINT-PRIEST
3                        8 ans+        6-8 mois  SAINT-PRIEST
4                        8 ans+        6-8 mois  SAINT-PRIEST
...                         ...             ...           ...
7408787                  8 ans+        0-4 mois      MULHOUSE
7408788                  8 ans+        0-4 mois      MULHOUSE
7408789                  8 ans+        0-4 mois      MULHOUSE
7408790                  8 ans+        0-4 mois      MULHOUSE
7408791                  8 ans+        0-4 mois      MULHOUSE

        LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  ... Nb_Univers  \
0                       69              Rhône-Alpes  ...          7
1                       69              Rhône-Alpes  ...          7
2                       69              Rhône-Alpes  ...          7
3                       69              Rhône-Alpes  ...          7
4                       69              Rhône-Alpes  ...          7
...                    ...                      ...  ...        ...
7408787                 68               Alsace-Est  ...          9
7408788                 68               Alsace-Est  ...          9
7408789                 68               Alsace-Est  ...          9
7408790                 68               Alsace-Est  ...          9
7408791                 68               Alsace-Est  ...          9

        UNIVERS_PREFERE  NBRE_COMMANDE_2016  TOTAL_ACHAT_2016  \
0                     0                  60           1936.76
1                     0                  60           1936.76
2                     0                  60           1936.76
3                     0                  60           1936.76
4                     0                  60           1936.76
...                 ...                 ...               ...
7408787               0                  12           1739.20
7408788               0                  12           1739.20
7408789               0                  12           1739.20
7408790               0                  12           1739.20
7408791               0                  12           1739.20

        PREMIERE_COMMANDE_2016  DERNIERE_COMMANDE_2016  \
0                   2016-01-20              2016-11-20
1                   2016-01-20              2016-11-20
2                   2016-01-20              2016-11-20
3                   2016-01-20              2016-11-20
4                   2016-01-20              2016-11-20
...                        ...                     ...
7408787             2016-04-14              2016-12-08
7408788             2016-04-14              2016-12-08
7408789             2016-04-14              2016-12-08
7408790             2016-04-14              2016-12-08
7408791             2016-04-14              2016-12-08

         ANCIENNETE_1ERE_CDE_2016  ANCIENNETE_DERNIERE_CDE_2016  \
0                             346                          41.0
1                             346                          41.0
2                             346                          41.0
3                             346                          41.0
4                             346                          41.0
...                           ...                           ...
7408787                       261                          23.0
7408788                       261                          23.0
7408789                       261                          23.0
7408790                       261                          23.0
7408791                       261                          23.0

         TEMPS_MOY_CDE_2016  FREQ_COMMANDE_2016
0                  5.169492            0.126085
1                  5.169492            0.126085
2                  5.169492            0.126085
3                  5.169492            0.126085
4                  5.169492            0.126085
...                     ...                 ...
7408787           21.636364            0.940711
7408788           21.636364            0.940711
7408789           21.636364            0.940711
7408790           21.636364            0.940711
7408791           21.636364            0.940711

[7408792 rows x 33 columns]

In [71]:
df_BOTANIC_F.head()

,IDCLIENT,MAGASIN,DATEREADHESION,SEXE,AGE_GROUP,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,...,Nb_Univers,UNIVERS_PREFERE,NBRE_COMMANDE_2016,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016,ANCIENNETE_1ERE_CDE_2016,ANCIENNETE_DERNIERE_CDE_2016,TEMPS_MOY_CDE_2016,FREQ_COMMANDE_2016
0,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,7,0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085
1,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,7,0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085
2,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,7,0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085
3,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,7,0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085
4,10000.0,PRI,2017-05-11,FEMME,Inconnue,8 ans+,6-8 mois,SAINT-PRIEST,69,Rhône-Alpes,...,7,0,60,1936.76,2016-01-20,2016-11-20,346,41.0,5.169492,0.126085

In [72]:
df_BOTANIC_F.shape

(7408792, 33)

In [73]:
BOTANIC_F="C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\BOTANIC.pkl"
df_BOTANIC_F.to_pickle(BOTANIC_F)