Botanic est un réseau de jardineries spécialistes du jardinage écologique. Présente en France avec plus de 75 magasins, Botanic propose des conseils en jardinage, des solutions naturelles et des produits écologiques pour le jardin. Ses cinq univers incluent le jardin et le potager, l’alimentation bio, les soins et le bien-être, les plantes et la décoration, ainsi que l’animalerie.

La construction d’un modèle prédictif d’attrition clients, telle que nous l'avons effectué, est un outil stratégique pour Botanic, lui permettant de maintenir sa base de clients fidèles tout en optimisant ses ressources.

L’objectif principal d’un tel modèle est d’anticiper le départ des clients avant qu’ils ne quittent effectivement l’enseigne. Cela permet à Botanic de prendre des mesures proactives pour retenir ces clients et maintenir leur fidélité.

INSTALLATION DES LIBRAIRIES PYTHON

In [ ]:
import pip
pip.main(['install', 'pandas'])
pip.main(['install', 'matplotlib'])
pip.main(['install', 'seaborn'])
pip.main(['install', 'scikit-learn'])
!pip.main(['install', 'nbmerge'])
pip.main(['install', 'nbformat'])
!pip install nbformat ipynb-py-convert

IMPORTATION DES BIBLIOTHEQUES

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import MissingIndicator, KNNImputer,SimpleImputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

CHARGEMENT DU LIEN PKL DU NOTEBOOK "CLIENT"

In [3]:
CLIENTS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\CLIENTS_NET.pkl"
CLIENT = pd.read_pickle(CLIENTS)

CHARGEMENT DES DONNÉES DU NOTEBOOK "CLIENT"

In [4]:
CLIENT

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois
1,156023.0,VLG,2014-06-21,74189,HOMME,AGE DE 46-60,11.129363,3 ans+,36+ mois
2,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois
3,156190.0,SUR,2015-05-24,92026,FEMME,AGE DE 31-45,9.757700,3 ans+,24-36 mois
4,144444.0,LAB,2016-12-18,31555,HOMME,Inconnue,11.674196,3 ans+,12-24 mois
...,...,...,...,...,...,...,...,...,...
719975,336771.0,BEA,2017-12-30,63302,FEMME,Inconnue,12.654346,3 ans+,0-6 mois
719976,1709516.0,VIB,2017-12-30,69034,HOMME,Inconnue,9.204654,3 ans+,0-6 mois
719977,1866695.0,MAN,2017-12-30,04230,FEMME,AGE DE 61-100,8.254620,3 ans+,0-6 mois
719978,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois
720049,402282.0,VIB,2017-12-31,69386,HOMME,AGE DE 46-60,12.632444,3 ans+,0-6 mois

In [5]:
CLIENT.shape

(404898, 9)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "REF_MAGASIN"

In [6]:
MAGASINS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\MAGASINS_NET.pkl"
REF_MAGASIN= pd.read_pickle(MAGASINS)

CHARGEMENT DES DONNÉES DU NOTEBOOK "REF_MAGASIN"

In [7]:
REF_MAGASIN

   MAGASIN                   VILLE LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE
0      MET              METZ-TESSY                 74              Rhône-Alpes
1      ALB         GILLY SUR ISERE                 73              Rhône-Alpes
2      ALM              LES MILLES                 13                 Littoral
3      AVI  VILLENEUVE-LES-AVIGNON                 30                 Littoral
4      BEA                BEAUMONT                 63             Centre-Paris
..     ...                     ...                ...                      ...
62     STR                SISTERON                  4                 Littoral
63     NEV            NEVERS CEDEX                 58             Centre-Paris
64     BSN                  CESSON                 77             Centre-Paris
65     CAG          CAGNES SUR MER                  6                 Littoral
66     RMA         RUEIL MALMAISON                 92             Centre-Paris

[67 rows x 4 columns]

JOINTURE DES NOTEBOOKS "CLIENT" ET "REF_MAGASIN".
Jointure effectuée sur la variable "MAGASIN".
Enregistrement d'un nouveau dataframe.

In [8]:
df_CLIENT_MAG = CLIENT.merge(REF_MAGASIN, how='left', left_on='MAGASIN', right_on='MAGASIN')

CHARGEMENT DES DONNÉES DU NOTEBOOK "df_CLIENT_MAG"

In [9]:
df_CLIENT_MAG

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes
1,156023.0,VLG,2014-06-21,74189,HOMME,AGE DE 46-60,11.129363,3 ans+,36+ mois,VILLE-LA-GRAND,74,Rhône-Alpes
2,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris
3,156190.0,SUR,2015-05-24,92026,FEMME,AGE DE 31-45,9.757700,3 ans+,24-36 mois,SURESNES,92,Centre-Paris
4,144444.0,LAB,2016-12-18,31555,HOMME,Inconnue,11.674196,3 ans+,12-24 mois,LABEGE CEDEX,31,Littoral
...,...,...,...,...,...,...,...,...,...,...,...,...
404893,336771.0,BEA,2017-12-30,63302,FEMME,Inconnue,12.654346,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris
404894,1709516.0,VIB,2017-12-30,69034,HOMME,Inconnue,9.204654,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes
404895,1866695.0,MAN,2017-12-30,04230,FEMME,AGE DE 61-100,8.254620,3 ans+,0-6 mois,MANOSQUE,4,Littoral
404896,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est
404897,402282.0,VIB,2017-12-31,69386,HOMME,AGE DE 46-60,12.632444,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [10]:
df_CLIENT_MAG.isnull().sum().sum()

0

In [11]:
df_CLIENT_MAG.shape

(404898, 12)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "ENTETES_TICKET"

In [12]:
ENTETES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ENTETES_TICKET_V4.pkl"
ENTETES_TICKET=pd.read_pickle(ENTETES)

CHARGEMENT DES DONNÉES DU NOTEBOOK "ENTETES_TICKET"

In [13]:
ENTETES_TICKET

              IDTICKET    TIC_DATE MAG_CODE   IDCLIENT  TIC_TOTALTTC
0          50100150510  02/01/2016      ALB  2995104.0         12.90
1          50100150511  02/01/2016      ALB  1411117.0        131.06
2          50100150515  02/01/2016      ALB   222592.0         34.69
3          50100150517  02/01/2016      ALB  2979958.0         97.58
4          50100150518  02/01/2016      ALB  2858676.0          4.70
...                ...         ...      ...        ...           ...
6714168  1340300014404  27/12/2016      RMA  2292927.0         59.45
6714169  1340300014407  27/12/2016      RMA  3189844.0         26.90
6714170  1340300014409  27/12/2016      RMA  3125998.0         22.15
6714171  1340300014438  27/12/2016      RMA  3252348.0        118.01
6714172  1340300014440  27/12/2016      RMA  3243933.0         44.80

[6714173 rows x 5 columns]

JOINTURE DES NOTEBOOKS "df_CLIENT_MAG" ET "ENTETES_TICKET". Jointure effectuée sur la variable "IDCLIENT". Enregistrement d'un nouveau dataframe.

In [14]:
df_CLIENT_MAG_ENTETES = df_CLIENT_MAG.merge(ENTETES_TICKET, how='inner', left_on='IDCLIENT', right_on='IDCLIENT')

CHARGEMENT DES DONNÉES DU NOTEBOOK "df_CLIENT_MAG_ENTETES"

In [15]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,MAG_CODE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,VLG,15.50
1,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,VLG,142.05
2,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,DUM,3.99
3,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,BEA,57.43
4,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,BEA,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014312,1709516.0,VIB,2017-12-30,69034,HOMME,Inconnue,9.204654,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,VIB,162.44
3014313,1866695.0,MAN,2017-12-30,04230,FEMME,AGE DE 61-100,8.254620,3 ans+,0-6 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,MAN,169.03
3014314,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,CLI,22.15
3014315,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,CLI,42.49
3014316,402282.0,VIB,2017-12-31,69386,HOMME,AGE DE 46-60,12.632444,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,VIB,94.10

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [16]:
df_CLIENT_MAG_ENTETES.isnull().sum().sum()

0

In [17]:
df_CLIENT_MAG_ENTETES.shape

(3014317, 16)

In [18]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,MAG_CODE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,VLG,15.50
1,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,VLG,142.05
2,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,DUM,3.99
3,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,BEA,57.43
4,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,BEA,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014312,1709516.0,VIB,2017-12-30,69034,HOMME,Inconnue,9.204654,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,VIB,162.44
3014313,1866695.0,MAN,2017-12-30,04230,FEMME,AGE DE 61-100,8.254620,3 ans+,0-6 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,MAN,169.03
3014314,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,CLI,22.15
3014315,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,CLI,42.49
3014316,402282.0,VIB,2017-12-31,69386,HOMME,AGE DE 46-60,12.632444,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,VIB,94.10

SUPPRESSION DE LA COLONNE 'MAG_CODE' QU'ON A REMPLACÉ PAR LA COLONNE 'MAGASIN'

In [19]:
df_CLIENT_MAG_ENTETES.drop(columns=['MAG_CODE'], inplace=True)

VÉRIFICATION DU TRAITEMENT

In [20]:
df_CLIENT_MAG_ENTETES

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,15.50
1,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,142.05
2,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,3.99
3,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,57.43
4,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,67.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014312,1709516.0,VIB,2017-12-30,69034,HOMME,Inconnue,9.204654,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356694,30/12/2017,162.44
3014313,1866695.0,MAN,2017-12-30,04230,FEMME,AGE DE 61-100,8.254620,3 ans+,0-6 mois,MANOSQUE,4,Littoral,730500376228,30/12/2017,169.03
3014314,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100100385449,14/04/2016,22.15
3014315,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,8,Alsace-Est,1100200137081,30/12/2017,42.49
3014316,402282.0,VIB,2017-12-31,69386,HOMME,AGE DE 46-60,12.632444,3 ans+,0-6 mois,VILLEURBANNE,69,Rhône-Alpes,420300356958,31/12/2017,94.10

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [21]:
df_CLIENT_MAG_ENTETES.isnull().sum().sum()

0

FILTRAGE DU DATAFRAME EN SÉLECTIONNANT QUE LES CLIENTS AYANT FAIT AU MOINS 2 COMMANDES

In [22]:
#Comptage des commandes par client
order_counts = df_CLIENT_MAG_ENTETES['IDCLIENT'].value_counts()

#Sélection des clients ayant fait au moins 2 commandes
clients_with_orders = order_counts[order_counts >= 2].index

#Filtrage du DataFrame original
df_CLIENT_MAG_ENTETES_FILTRED = df_CLIENT_MAG_ENTETES[df_CLIENT_MAG_ENTETES['IDCLIENT'].isin(clients_with_orders)]

# Affichage du DataFrame filtré
print(df_CLIENT_MAG_ENTETES_FILTRED)

          IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
1         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
2         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
3         124203.0     BEA     2017-10-12     63070  FEMME      Inconnue
4         124203.0     BEA     2017-10-12     63070  FEMME      Inconnue
...            ...     ...            ...       ...    ...           ...
3014309   259890.0     SMR     2017-12-30     13047  HOMME  AGE DE 46-60
3014311  1709516.0     VIB     2017-12-30     69034  HOMME      Inconnue
3014312  1709516.0     VIB     2017-12-30     69034  HOMME      Inconnue
3014314  2098666.0     CLI     2017-12-30     08105  HOMME      Inconnue
3014315  2098666.0     CLI     2017-12-30     08105  HOMME      Inconnue

         ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                  12.963723                  3 ans+       6-12 mois
1                  12.963723                  3 ans+       6-12 mois
2                  12.963723                  3 ans+       6-12 mois
3                  13.626283                  3 ans+        0-6 mois
4                  13.626283                  3 ans+        0-6 mois
...                      ...                     ...             ...
3014309            12.117728                  3 ans+        0-6 mois
3014311             9.204654                  3 ans+        0-6 mois
3014312             9.204654                  3 ans+        0-6 mois
3014314             6.976044                  3 ans+        0-6 mois
3014315             6.976044                  3 ans+        0-6 mois

                            VILLE LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  \
0                  VILLE-LA-GRAND                 74              Rhône-Alpes
1                  VILLE-LA-GRAND                 74              Rhône-Alpes
2                  VILLE-LA-GRAND                 74              Rhône-Alpes
3                        BEAUMONT                 63             Centre-Paris
4                        BEAUMONT                 63             Centre-Paris
...                           ...                ...                      ...
3014309  SAINT-MITRE-LES-REMPARTS                 13                 Littoral
3014311              VILLEURBANNE                 69              Rhône-Alpes
3014312              VILLEURBANNE                 69              Rhône-Alpes
3014314                    CLIRON                  8               Alsace-Est
3014315                    CLIRON                  8               Alsace-Est

              IDTICKET    TIC_DATE  TIC_TOTALTTC
0         450600359153  25/09/2017         15.50
1         450700131937  04/04/2017        142.05
2         630200092965  13/05/2017          3.99
3          80200537980  29/08/2016         57.43
4          80100912863  12/10/2017         67.67
...                ...         ...           ...
3014309   530300446156  30/12/2017         58.49
3014311   420300356693  30/12/2017         15.54
3014312   420300356694  30/12/2017        162.44
3014314  1100100385449  14/04/2016         22.15
3014315  1100200137081  30/12/2017         42.49

[2960456 rows x 15 columns]

VÉRIFICATION DU TRAITEMENT

In [23]:
df_CLIENT_MAG_ENTETES_FILTRED.shape

(2960456, 15)

In [24]:
df_CLIENT_MAG_ENTETES_FILTRED.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2960456 entries, 0 to 3014315
Data columns (total 15 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IDCLIENT                  object
 1   MAGASIN                   object
 2   DATEREADHESION            datetime64[ns]
 3   CODEINSEE                 object
 4   SEXE                      object
 5   AGE_GROUP                 object
 6   ANCIENNETE_ADHESION       float64
 7   ANCIENNETE_ADHESION_CAT   category
 8   ANCIENNETE_READ           category
 9   VILLE                     object
 10  LIBELLEDEPARTEMENT        object
 11  LIBELLEREGIONCOMMERCIALE  object
 12  IDTICKET                  object
 13  TIC_DATE                  object
 14  TIC_TOTALTTC              float64
dtypes: category(2), datetime64[ns](1), float64(2), object(10)
memory usage: 321.9+ MB

In [25]:
df_CLIENT_MAG_ENTETES_FILTRED.head()

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE,IDTICKET,TIC_DATE,TIC_TOTALTTC
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450600359153,25/09/2017,15.50
1,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,450700131937,04/04/2017,142.05
2,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,74,Rhône-Alpes,630200092965,13/05/2017,3.99
3,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80200537980,29/08/2016,57.43
4,124203.0,BEA,2017-10-12,63070,FEMME,Inconnue,13.626283,3 ans+,0-6 mois,BEAUMONT,63,Centre-Paris,80100912863,12/10/2017,67.67

VÉRIFICATION DES VALEURS MANQUANTES (RAS).

In [26]:
df_CLIENT_MAG_ENTETES_FILTRED.isnull().sum().sum()

0

CALCUL DE LA NOUVELLE VARIABLE 'FRÉQUENTATION_MAGASIN' PAR CLIENT

In [27]:
# Grouper par client et magasin et agréer pour avoir le décompte des visites
grouped = df_CLIENT_MAG_ENTETES_FILTRED.groupby(['IDCLIENT', 'MAGASIN']).agg({
    'IDTICKET': 'count'
}).reset_index().rename(columns={'IDTICKET': 'FREQ_MAG'})

# Afficher le DataFrame groupé qui montre les fréquentations
print(grouped)

        IDCLIENT MAGASIN  FREQ_MAG
0        10000.0     PRI        31
1       100002.0     CLA         9
2       100004.0     MUL         8
3       100008.0     CLA         7
4       100010.0     SEM        17
...          ...     ...       ...
319657   99973.0     SEM         5
319658   99975.0     SMR        16
319659   99977.0     LAB         5
319660   99986.0     MUL         9
319661   99999.0     FRV         5

[319662 rows x 3 columns]

In [28]:

# Fusionner le DataFrame original avec le DataFrame groupé sur IDCLIENT et MAGASIN
df_CLIENT_MAG_ENTETES_FILTRED = pd.merge(df_CLIENT_MAG_ENTETES_FILTRED, grouped, on=['IDCLIENT', 'MAGASIN'], how='inner')

print(df_CLIENT_MAG_ENTETES_FILTRED)

          IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
1         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
2         155891.0     VLG     2017-04-04     74224  FEMME      Inconnue
3         124203.0     BEA     2017-10-12     63070  FEMME      Inconnue
4         124203.0     BEA     2017-10-12     63070  FEMME      Inconnue
...            ...     ...            ...       ...    ...           ...
2960451   259890.0     SMR     2017-12-30     13047  HOMME  AGE DE 46-60
2960452  1709516.0     VIB     2017-12-30     69034  HOMME      Inconnue
2960453  1709516.0     VIB     2017-12-30     69034  HOMME      Inconnue
2960454  2098666.0     CLI     2017-12-30     08105  HOMME      Inconnue
2960455  2098666.0     CLI     2017-12-30     08105  HOMME      Inconnue

         ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                  12.963723                  3 ans+       6-12 mois
1                  12.963723                  3 ans+       6-12 mois
2                  12.963723                  3 ans+       6-12 mois
3                  13.626283                  3 ans+        0-6 mois
4                  13.626283                  3 ans+        0-6 mois
...                      ...                     ...             ...
2960451            12.117728                  3 ans+        0-6 mois
2960452             9.204654                  3 ans+        0-6 mois
2960453             9.204654                  3 ans+        0-6 mois
2960454             6.976044                  3 ans+        0-6 mois
2960455             6.976044                  3 ans+        0-6 mois

                            VILLE LIBELLEDEPARTEMENT LIBELLEREGIONCOMMERCIALE  \
0                  VILLE-LA-GRAND                 74              Rhône-Alpes
1                  VILLE-LA-GRAND                 74              Rhône-Alpes
2                  VILLE-LA-GRAND                 74              Rhône-Alpes
3                        BEAUMONT                 63             Centre-Paris
4                        BEAUMONT                 63             Centre-Paris
...                           ...                ...                      ...
2960451  SAINT-MITRE-LES-REMPARTS                 13                 Littoral
2960452              VILLEURBANNE                 69              Rhône-Alpes
2960453              VILLEURBANNE                 69              Rhône-Alpes
2960454                    CLIRON                  8               Alsace-Est
2960455                    CLIRON                  8               Alsace-Est

              IDTICKET    TIC_DATE  TIC_TOTALTTC  FREQ_MAG
0         450600359153  25/09/2017         15.50         3
1         450700131937  04/04/2017        142.05         3
2         630200092965  13/05/2017          3.99         3
3          80200537980  29/08/2016         57.43         3
4          80100912863  12/10/2017         67.67         3
...                ...         ...           ...       ...
2960451   530300446156  30/12/2017         58.49         2
2960452   420300356693  30/12/2017         15.54         2
2960453   420300356694  30/12/2017        162.44         2
2960454  1100100385449  14/04/2016         22.15         2
2960455  1100200137081  30/12/2017         42.49         2

[2960456 rows x 16 columns]

In [29]:
df_CLIENT_MAG_ENTETES_FILTRED.shape

(2960456, 16)

CHARGEMENT DU LIEN PKL DU NOTEBOOK "LGNES_TICKETS"

In [30]:
LIGNES_TICKET = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\TICKETS_NET.pkl"
LGNES_TICKETS=pd.read_pickle(LIGNES_TICKET)

CHARGEMENT DES DONNÉES "LGNES_TICKETS"

In [32]:
LGNES_TICKETS

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR
0,190400316260,2,246208,1.0,0.000,4.96,2.37,0
1,190400316262,2,33725,1.0,0.000,8.25,3.63,0
2,190400316262,3,634497,1.0,0.000,5.79,3.63,0
3,190400316262,1,257613,1.0,0.000,18.29,6.21,0
4,190400316263,1,257627,1.0,0.000,49.92,10.42,0
...,...,...,...,...,...,...,...,...
34105700,340200383203,2,257643,1.0,0.000,4.69,1.83,0
34105701,340200383203,3,50170,1.0,0.000,3.18,1.00,0
34105702,340200383203,4,349345,1.0,0.000,3.46,1.13,0
34105703,340200383203,5,250580,2.0,0.000,6.80,2.18,0
34105704,340200383217,1,816313,20.0,1.818,1.82,1.42,0

CHARGEMENT DU LIEN PKL DU NOTEBOOK "REF_ARTICLE"

In [33]:
ARTICLES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ARTICLES_NET.pkl"
REF_ARTICLE = pd.read_pickle(ARTICLES)

CHARGEMENT DES DONNÉES "REF_ARTICLE"

In [34]:
REF_ARTICLE

       IDARTICLE CODEUNIVERS CODEFAMILLE
1           1001          U2         130
2         100125          U1         010
3         100150          U1         010
4          10018          U1         100
5          10019          U1         100
...          ...         ...         ...
665941    407717          U3         120
665942    407719          U3         120
665943    407720          U3         120
665944    407721          U3         120
665945    407723          U3         120

[665945 rows x 3 columns]

JOINTURE DES NOTEBOOKS "LIGNES_TICKET" ET "REF_ARTICLE". Jointure effectuée sur la variable "IDARTICLE". Enregistrement d'un nouveau dataframe.

In [36]:
df_LIGNE_ART=LGNES_TICKETS.merge(REF_ARTICLE, how='inner',left_on='IDARTICLE', right_on='IDARTICLE')

CHARGEMENT DES DONNÉES "df_LIGNE_ART"

In [37]:
df_LIGNE_ART

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR,CODEUNIVERS,CODEFAMILLE
0,190400316260,2,246208,1.0,0.000,4.96,2.37,0,U3,120
1,190400316262,2,33725,1.0,0.000,8.25,3.63,0,U3,120
2,190400316262,3,634497,1.0,0.000,5.79,3.63,0,U3,120
3,190400316262,1,257613,1.0,0.000,18.29,6.21,0,U3,120
4,190400316263,1,257627,1.0,0.000,49.92,10.42,0,U3,120
...,...,...,...,...,...,...,...,...,...,...
33841450,340200383203,2,257643,1.0,0.000,4.69,1.83,0,U4,220
33841451,340200383203,3,50170,1.0,0.000,3.18,1.00,0,U4,220
33841452,340200383203,4,349345,1.0,0.000,3.46,1.13,0,U4,220
33841453,340200383203,5,250580,2.0,0.000,6.80,2.18,0,U4,220
33841454,340200383217,1,816313,20.0,1.818,1.82,1.42,0,U3,120

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [38]:
df_LIGNE_ART.isnull().sum().sum()

0

Transposition de la colonne "CODEUNIVERS" pour faciliter la suite des jointures

In [39]:
#Transposition de la colonne "CODEUNIVERS" pour faciliter la suite des jointures
df_LIGNE_ART["codeunivers_U1"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U1',1,0)
df_LIGNE_ART["codeunivers_U2"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U2',1,0)
df_LIGNE_ART["codeunivers_U3"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U3',1,0)
df_LIGNE_ART["codeunivers_U4"]=np.where(df_LIGNE_ART["CODEUNIVERS"]=='U4',1,0)

Aggrégation de df_CLIENT_MAG_ENT_LIG_ART par "IDTICKET"

In [40]:
#Aggrégation de df_CLIENT_MAG_ENT_LIG_ART par "IDTICKET"
df_LIGNE_ART=df_LIGNE_ART.groupby(["IDTICKET"]).agg(
    Quantite=('QUANTITE','sum'),
    NBRE_ARTICLE=('IDARTICLE', 'nunique'),
    NBRE_FAM_ARTICLE=('CODEFAMILLE','nunique'),
    UNIVERS_U1=('codeunivers_U1','sum'),
    UNIVERS_U2=('codeunivers_U2','sum'),
    UNIVERS_U3=('codeunivers_U3','sum'),
    UNIVERS_U4=('codeunivers_U4','sum'),
    TOTAL_REMISE=('MONTANTREMISE','sum'),
    MONTANT_TOTAL=('TOTAL','sum'),
    MARGE=('MARGESORTIE','sum')
).reset_index()
df_LIGNE_ART.head()

,IDTICKET,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,UNIVERS_U1,UNIVERS_U2,UNIVERS_U3,UNIVERS_U4,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,1000100553129,7.365,4,1,0,0,0,4,0.000,22.57,8.34
1,1000100553131,4.976,3,1,0,0,0,4,0.000,9.59,3.48
2,1000100553133,9.309,7,2,0,0,0,6,0.000,18.69,5.80
3,1000100553134,1.000,3,2,1,0,2,0,0.000,9.11,4.69
4,1000100553139,2.000,2,2,0,1,0,1,2.133,7.69,2.36

JOINTURE DES DATAFRAMES

In [41]:
# Appliquer melt pour les univers
df_LIGNE_ART_melted = df_LIGNE_ART.melt(
    id_vars=['IDTICKET'],  
    value_vars=['UNIVERS_U1', 'UNIVERS_U2', 'UNIVERS_U3', 'UNIVERS_U4'],
    var_name='TYPE_UNIVERS',
    value_name='CODEUNIVERS'
)

# Affichage pour vérification
print(df_LIGNE_ART_melted)

# Joints le résultat fondu sur les autres colonnes d'intérêt
df_LIGNE_ART_melted = df_LIGNE_ART_melted.join(df_LIGNE_ART.set_index('IDTICKET'), on='IDTICKET', lsuffix='_left', rsuffix='_right')

# Enlever les colonnes univers éclatées initiales après le merge
df_LIGNE_ART_melted = df_LIGNE_ART_melted.drop(['UNIVERS_U1', 'UNIVERS_U2', 'UNIVERS_U3', 'UNIVERS_U4'], axis=1)

# Afficher le DataFrame final pour vérification
print(df_LIGNE_ART_melted)

               IDTICKET TYPE_UNIVERS  CODEUNIVERS
0         1000100553129   UNIVERS_U1            0
1         1000100553131   UNIVERS_U1            0
2         1000100553133   UNIVERS_U1            0
3         1000100553134   UNIVERS_U1            1
4         1000100553139   UNIVERS_U1            0
...                 ...          ...          ...
26855283   990600196600   UNIVERS_U4           17
26855284   990600196602   UNIVERS_U4           37
26855285   990600196607   UNIVERS_U4            0
26855286   990600196608   UNIVERS_U4            0
26855287   990600196609   UNIVERS_U4            1

[26855288 rows x 3 columns]
               IDTICKET TYPE_UNIVERS  CODEUNIVERS  Quantite  NBRE_ARTICLE  \
0         1000100553129   UNIVERS_U1            0     7.365             4
1         1000100553131   UNIVERS_U1            0     4.976             3
2         1000100553133   UNIVERS_U1            0     9.309             7
3         1000100553134   UNIVERS_U1            1     1.000             3
4         1000100553139   UNIVERS_U1            0     2.000             2
...                 ...          ...          ...       ...           ...
26855283   990600196600   UNIVERS_U4           17    16.737            17
26855284   990600196602   UNIVERS_U4           37    36.090            37
26855285   990600196607   UNIVERS_U4            0    12.000             8
26855286   990600196608   UNIVERS_U4            0     1.000             1
26855287   990600196609   UNIVERS_U4            1     7.000             7

          NBRE_FAM_ARTICLE  TOTAL_REMISE  MONTANT_TOTAL  MARGE
0                        1         0.000          22.57   8.34
1                        1         0.000           9.59   3.48
2                        2         0.000          18.69   5.80
3                        2         0.000           9.11   4.69
4                        2         2.133           7.69   2.36
...                    ...           ...            ...    ...
26855283                 1         2.340          53.29  18.73
26855284                 1         5.264         101.00  28.80
26855285                 2        19.208          69.41  37.23
26855286                 1         0.000          27.26  13.96
26855287                 4        11.085          66.49  29.79

[26855288 rows x 9 columns]

VÉRIFICATION DE LA JOINTURE

In [42]:
df_LIGNE_ART_melted

,IDTICKET,TYPE_UNIVERS,CODEUNIVERS,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,1000100553129,UNIVERS_U1,0,7.365,4,1,0.000,22.57,8.34
1,1000100553131,UNIVERS_U1,0,4.976,3,1,0.000,9.59,3.48
2,1000100553133,UNIVERS_U1,0,9.309,7,2,0.000,18.69,5.80
3,1000100553134,UNIVERS_U1,1,1.000,3,2,0.000,9.11,4.69
4,1000100553139,UNIVERS_U1,0,2.000,2,2,2.133,7.69,2.36
...,...,...,...,...,...,...,...,...,...
26855283,990600196600,UNIVERS_U4,17,16.737,17,1,2.340,53.29,18.73
26855284,990600196602,UNIVERS_U4,37,36.090,37,1,5.264,101.00,28.80
26855285,990600196607,UNIVERS_U4,0,12.000,8,2,19.208,69.41,37.23
26855286,990600196608,UNIVERS_U4,0,1.000,1,1,0.000,27.26,13.96
26855287,990600196609,UNIVERS_U4,1,7.000,7,4,11.085,66.49,29.79

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [43]:
df_LIGNE_ART_melted.isnull().sum().sum()

0

JOINTURE DES DATAFRAMES "df_CLIENT_MAG_ENTETES_FILTRED" ET "df_LIGNE_ART_melted". Jointure effectuée sur la variables "IDTICKET". Enregistrement d'un nouveau dataframe.

In [44]:
df_BOTANIC_1=df_CLIENT_MAG_ENTETES_FILTRED.merge(df_LIGNE_ART_melted, how='inner',left_on='IDTICKET', right_on='IDTICKET')

CHARGEMENT DU NOUVEAU DATAFRAME

In [45]:
df_BOTANIC_1

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,...,TIC_TOTALTTC,FREQ_MAG,TYPE_UNIVERS,CODEUNIVERS,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE
0,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,...,15.50,3,UNIVERS_U1,1,1.0,1,1,0.000,14.09,8.60
1,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,...,15.50,3,UNIVERS_U2,0,1.0,1,1,0.000,14.09,8.60
2,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,...,15.50,3,UNIVERS_U3,0,1.0,1,1,0.000,14.09,8.60
3,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,...,15.50,3,UNIVERS_U4,0,1.0,1,1,0.000,14.09,8.60
4,155891.0,VLG,2017-04-04,74224,FEMME,Inconnue,12.963723,3 ans+,6-12 mois,VILLE-LA-GRAND,...,142.05,3,UNIVERS_U1,15,20.0,18,4,12.955,122.98,63.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11841147,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,...,22.15,2,UNIVERS_U4,1,5.0,5,3,0.000,20.25,8.53
11841148,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,...,42.49,2,UNIVERS_U1,0,3.0,3,2,4.992,35.41,17.52
11841149,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,...,42.49,2,UNIVERS_U2,0,3.0,3,2,4.992,35.41,17.52
11841150,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,...,42.49,2,UNIVERS_U3,2,3.0,3,2,4.992,35.41,17.52
11841151,2098666.0,CLI,2017-12-30,08105,HOMME,Inconnue,6.976044,3 ans+,0-6 mois,CLIRON,...,42.49,2,UNIVERS_U4,0,3.0,3,2,4.992,35.41,17.52

In [46]:
df_BOTANIC_1.shape

(11841152, 24)

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [47]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul de la variété du panier pour chaque client

In [48]:
# Calculer le nombre unique de catégories de produits pour chaque client
variete_panier = df_BOTANIC_1.groupby('IDCLIENT')['NBRE_ARTICLE'].nunique().reset_index()

# Renommer la colonne résultante à quelque chose de descriptif
variete_panier.columns = ['IDCLIENT', 'Variete_Panier']

print("Variété du panier pour chaque client")
print(variete_panier)
# Effectuer un merge pour intégrer variete_panier au DataFrame original
df_BOTANIC_1 = df_BOTANIC_1.merge(variete_panier, on='IDCLIENT', how='right')

# Affichage du DataFrame final
print(df_BOTANIC_1)

Variété du panier pour chaque client
        IDCLIENT  Variete_Panier
0        10000.0               6
1       100002.0               5
2       100004.0               3
3       100008.0               5
4       100010.0               9
...          ...             ...
319657   99973.0               3
319658   99975.0               3
319659   99977.0               3
319660   99986.0               6
319661   99999.0               4

[319662 rows x 2 columns]
         IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
1         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
2         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
3         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
4         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
...           ...     ...            ...       ...    ...           ...
11841147  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841148  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841149  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841150  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841151  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60

          ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                   14.190281                  3 ans+       6-12 mois
1                   14.190281                  3 ans+       6-12 mois
2                   14.190281                  3 ans+       6-12 mois
3                   14.190281                  3 ans+       6-12 mois
4                   14.190281                  3 ans+       6-12 mois
...                       ...                     ...             ...
11841147            11.216975                  3 ans+      24-36 mois
11841148            11.216975                  3 ans+      24-36 mois
11841149            11.216975                  3 ans+      24-36 mois
11841150            11.216975                  3 ans+      24-36 mois
11841151            11.216975                  3 ans+      24-36 mois

                 VILLE  ... FREQ_MAG TYPE_UNIVERS CODEUNIVERS Quantite  \
0         SAINT-PRIEST  ...       31   UNIVERS_U1           0      2.0
1         SAINT-PRIEST  ...       31   UNIVERS_U2           0      2.0
2         SAINT-PRIEST  ...       31   UNIVERS_U3           2      2.0
3         SAINT-PRIEST  ...       31   UNIVERS_U4           0      2.0
4         SAINT-PRIEST  ...       31   UNIVERS_U1           2      3.0
...                ...  ...      ...          ...         ...      ...
11841147  FRANCHEVILLE  ...        5   UNIVERS_U4           0      4.0
11841148  FRANCHEVILLE  ...        5   UNIVERS_U1           5     11.0
11841149  FRANCHEVILLE  ...        5   UNIVERS_U2           0     11.0
11841150  FRANCHEVILLE  ...        5   UNIVERS_U3           0     11.0
11841151  FRANCHEVILLE  ...        5   UNIVERS_U4           0     11.0

          NBRE_ARTICLE  NBRE_FAM_ARTICLE TOTAL_REMISE  MONTANT_TOTAL  MARGE  \
0                    2                 1         1.65           9.34   4.75
1                    2                 1         1.65           9.34   4.75
2                    2                 1         1.65           9.34   4.75
3                    2                 1         1.65           9.34   4.75
4                    3                 2         0.00          25.42  16.43
...                ...               ...          ...            ...    ...
11841147             4                 3         0.00          43.14  23.54
11841148             5                 3         0.00          25.75  14.24
11841149             5                 3         0.00          25.75  14.24
11841150             5                 3         0.00          25.75  14.24
11841151             5                 3         0.00          25.75  14.24

          Variete_Panier
0                      6
1                      6
2                      6
3                      6
4                      6
...                  ...
11841147               4
11841148               4
11841149               4
11841150               4
11841151               4

[11841152 rows x 25 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [49]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul du nombre d'univers distincts dans lesquels chaque client a acheté

In [50]:
# Calcul du nombre d'univers distincts dans lesquels chaque client a acheté
univers_par_client = df_BOTANIC_1.groupby('IDCLIENT')['CODEUNIVERS'].nunique().reset_index()
univers_par_client.columns = ['IDCLIENT', 'Nb_Univers']

print("Nombre d'univers distincts pour chaque client")
print(univers_par_client)
# Effectuer un merge pour intégrer Nb_Univers au DataFrame original
df_BOTANIC_1 = df_BOTANIC_1.merge(univers_par_client, on='IDCLIENT', how='right')

# Affichage du DataFrame final
print(df_BOTANIC_1)

Nombre d'univers distincts pour chaque client
        IDCLIENT  Nb_Univers
0        10000.0           7
1       100002.0           7
2       100004.0           4
3       100008.0           6
4       100010.0           7
...          ...         ...
319657   99973.0           3
319658   99975.0           4
319659   99977.0           4
319660   99986.0           9
319661   99999.0           4

[319662 rows x 2 columns]
         IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
1         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
2         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
3         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
4         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
...           ...     ...            ...       ...    ...           ...
11841147  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841148  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841149  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841150  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841151  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60

          ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                   14.190281                  3 ans+       6-12 mois
1                   14.190281                  3 ans+       6-12 mois
2                   14.190281                  3 ans+       6-12 mois
3                   14.190281                  3 ans+       6-12 mois
4                   14.190281                  3 ans+       6-12 mois
...                       ...                     ...             ...
11841147            11.216975                  3 ans+      24-36 mois
11841148            11.216975                  3 ans+      24-36 mois
11841149            11.216975                  3 ans+      24-36 mois
11841150            11.216975                  3 ans+      24-36 mois
11841151            11.216975                  3 ans+      24-36 mois

                 VILLE  ... TYPE_UNIVERS CODEUNIVERS Quantite NBRE_ARTICLE  \
0         SAINT-PRIEST  ...   UNIVERS_U1           0      2.0            2
1         SAINT-PRIEST  ...   UNIVERS_U2           0      2.0            2
2         SAINT-PRIEST  ...   UNIVERS_U3           2      2.0            2
3         SAINT-PRIEST  ...   UNIVERS_U4           0      2.0            2
4         SAINT-PRIEST  ...   UNIVERS_U1           2      3.0            3
...                ...  ...          ...         ...      ...          ...
11841147  FRANCHEVILLE  ...   UNIVERS_U4           0      4.0            4
11841148  FRANCHEVILLE  ...   UNIVERS_U1           5     11.0            5
11841149  FRANCHEVILLE  ...   UNIVERS_U2           0     11.0            5
11841150  FRANCHEVILLE  ...   UNIVERS_U3           0     11.0            5
11841151  FRANCHEVILLE  ...   UNIVERS_U4           0     11.0            5

          NBRE_FAM_ARTICLE  TOTAL_REMISE MONTANT_TOTAL  MARGE  Variete_Panier  \
0                        1          1.65          9.34   4.75               6
1                        1          1.65          9.34   4.75               6
2                        1          1.65          9.34   4.75               6
3                        1          1.65          9.34   4.75               6
4                        2          0.00         25.42  16.43               6
...                    ...           ...           ...    ...             ...
11841147                 3          0.00         43.14  23.54               4
11841148                 3          0.00         25.75  14.24               4
11841149                 3          0.00         25.75  14.24               4
11841150                 3          0.00         25.75  14.24               4
11841151                 3          0.00         25.75  14.24               4

          Nb_Univers
0                  7
1                  7
2                  7
3                  7
4                  7
...              ...
11841147           4
11841148           4
11841149           4
11841150           4
11841151           4

[11841152 rows x 26 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [51]:
df_BOTANIC_1.isnull().sum().sum()

0

Calcul de l'univers préféré pour chaque client

In [52]:
# Grouper par client et univers, et sommer le nombre d'articles
client_univers = df_BOTANIC_1.groupby(['IDCLIENT', 'CODEUNIVERS'])['NBRE_ARTICLE'].sum().reset_index()

# Trouver l'univers préféré (celui avec le maximum de NBRE_ARTICLE) pour chaque client
univers_prefere = client_univers.loc[client_univers.groupby('IDCLIENT')['NBRE_ARTICLE'].idxmax()]

# Renommer les colonnes pour plus de clarté
univers_prefere.columns = ['IDCLIENT', 'Univers_Prefere', 'Total_Articles']

print("Univers préféré pour chaque client")
print(univers_prefere)
# Effectuer un merge pour intégrer univers_prefere au DataFrame original
df_BOTANIC_1 = df_BOTANIC_1.merge(univers_prefere, on='IDCLIENT', how='right')

# Affichage du DataFrame final
print(df_BOTANIC_1)

Univers préféré pour chaque client
         IDCLIENT  Univers_Prefere  Total_Articles
0         10000.0                0             194
7        100002.0                0             102
14       100004.0                0              45
18       100008.0                0              72
24       100010.0                0             135
...           ...              ...             ...
1810922   99973.0                0              25
1810925   99975.0                0             103
1810929   99977.0                0              36
1810933   99986.0                0             108
1810942   99999.0                0              46

[319662 rows x 3 columns]
         IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
1         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
2         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
3         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
4         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
...           ...     ...            ...       ...    ...           ...
11841147  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841148  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841149  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841150  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841151  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60

          ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                   14.190281                  3 ans+       6-12 mois
1                   14.190281                  3 ans+       6-12 mois
2                   14.190281                  3 ans+       6-12 mois
3                   14.190281                  3 ans+       6-12 mois
4                   14.190281                  3 ans+       6-12 mois
...                       ...                     ...             ...
11841147            11.216975                  3 ans+      24-36 mois
11841148            11.216975                  3 ans+      24-36 mois
11841149            11.216975                  3 ans+      24-36 mois
11841150            11.216975                  3 ans+      24-36 mois
11841151            11.216975                  3 ans+      24-36 mois

                 VILLE  ... Quantite NBRE_ARTICLE NBRE_FAM_ARTICLE  \
0         SAINT-PRIEST  ...      2.0            2                1
1         SAINT-PRIEST  ...      2.0            2                1
2         SAINT-PRIEST  ...      2.0            2                1
3         SAINT-PRIEST  ...      2.0            2                1
4         SAINT-PRIEST  ...      3.0            3                2
...                ...  ...      ...          ...              ...
11841147  FRANCHEVILLE  ...      4.0            4                3
11841148  FRANCHEVILLE  ...     11.0            5                3
11841149  FRANCHEVILLE  ...     11.0            5                3
11841150  FRANCHEVILLE  ...     11.0            5                3
11841151  FRANCHEVILLE  ...     11.0            5                3

         TOTAL_REMISE  MONTANT_TOTAL  MARGE Variete_Panier  Nb_Univers  \
0                1.65           9.34   4.75              6           7
1                1.65           9.34   4.75              6           7
2                1.65           9.34   4.75              6           7
3                1.65           9.34   4.75              6           7
4                0.00          25.42  16.43              6           7
...               ...            ...    ...            ...         ...
11841147         0.00          43.14  23.54              4           4
11841148         0.00          25.75  14.24              4           4
11841149         0.00          25.75  14.24              4           4
11841150         0.00          25.75  14.24              4           4
11841151         0.00          25.75  14.24              4           4

          Univers_Prefere  Total_Articles
0                       0             194
1                       0             194
2                       0             194
3                       0             194
4                       0             194
...                   ...             ...
11841147                0              46
11841148                0              46
11841149                0              46
11841150                0              46
11841151                0              46

[11841152 rows x 28 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [53]:
df_BOTANIC_1.isnull().sum().sum()

0

Vérification du traitement

In [54]:
df_BOTANIC_1.head()

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,...,Quantite,NBRE_ARTICLE,NBRE_FAM_ARTICLE,TOTAL_REMISE,MONTANT_TOTAL,MARGE,Variete_Panier,Nb_Univers,Univers_Prefere,Total_Articles
0,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,2.0,2,1,1.65,9.34,4.75,6,7,0,194
1,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,2.0,2,1,1.65,9.34,4.75,6,7,0,194
2,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,2.0,2,1,1.65,9.34,4.75,6,7,0,194
3,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,2.0,2,1,1.65,9.34,4.75,6,7,0,194
4,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,3.0,3,2,0.00,25.42,16.43,6,7,0,194

In [55]:
df_BOTANIC_1.shape

(11841152, 28)

FILTRAGE DES DATAFRAMES

In [56]:
from datetime import datetime
# Convertir la colonne 'DATE_COMMANDE' en type datetime
df_BOTANIC_1['TIC_DATE'] = pd.to_datetime(df_BOTANIC_1['TIC_DATE'],dayfirst=True, errors='coerce')
# Filtrer les transactions effectuées en 2016
df_2016 = df_BOTANIC_1[(df_BOTANIC_1['TIC_DATE'] >= '2016-01-01') & (df_BOTANIC_1['TIC_DATE'] < '2017-01-01')]

# Filtrer les transactions effectuées en 2017 (si nécessaire)
df_2017 = df_BOTANIC_1[(df_BOTANIC_1['TIC_DATE'] >= '2017-01-01') & (df_BOTANIC_1['TIC_DATE'] < '2018-01-01')]

In [57]:
print(df_2016)

         IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
1         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
2         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
3         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
4         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
...           ...     ...            ...       ...    ...           ...
11841147  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841148  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841149  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841150  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11841151  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60

          ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                   14.190281                  3 ans+       6-12 mois
1                   14.190281                  3 ans+       6-12 mois
2                   14.190281                  3 ans+       6-12 mois
3                   14.190281                  3 ans+       6-12 mois
4                   14.190281                  3 ans+       6-12 mois
...                       ...                     ...             ...
11841147            11.216975                  3 ans+      24-36 mois
11841148            11.216975                  3 ans+      24-36 mois
11841149            11.216975                  3 ans+      24-36 mois
11841150            11.216975                  3 ans+      24-36 mois
11841151            11.216975                  3 ans+      24-36 mois

                 VILLE  ... Quantite NBRE_ARTICLE NBRE_FAM_ARTICLE  \
0         SAINT-PRIEST  ...      2.0            2                1
1         SAINT-PRIEST  ...      2.0            2                1
2         SAINT-PRIEST  ...      2.0            2                1
3         SAINT-PRIEST  ...      2.0            2                1
4         SAINT-PRIEST  ...      3.0            3                2
...                ...  ...      ...          ...              ...
11841147  FRANCHEVILLE  ...      4.0            4                3
11841148  FRANCHEVILLE  ...     11.0            5                3
11841149  FRANCHEVILLE  ...     11.0            5                3
11841150  FRANCHEVILLE  ...     11.0            5                3
11841151  FRANCHEVILLE  ...     11.0            5                3

         TOTAL_REMISE  MONTANT_TOTAL  MARGE Variete_Panier  Nb_Univers  \
0                1.65           9.34   4.75              6           7
1                1.65           9.34   4.75              6           7
2                1.65           9.34   4.75              6           7
3                1.65           9.34   4.75              6           7
4                0.00          25.42  16.43              6           7
...               ...            ...    ...            ...         ...
11841147         0.00          43.14  23.54              4           4
11841148         0.00          25.75  14.24              4           4
11841149         0.00          25.75  14.24              4           4
11841150         0.00          25.75  14.24              4           4
11841151         0.00          25.75  14.24              4           4

          Univers_Prefere  Total_Articles
0                       0             194
1                       0             194
2                       0             194
3                       0             194
4                       0             194
...                   ...             ...
11841147                0              46
11841148                0              46
11841149                0              46
11841150                0              46
11841151                0              46

[6432996 rows x 28 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [58]:
df_2016.isnull().sum().sum()

0

In [59]:
# Example of calculating some Xi for 2016
Botanic_features_2016 = df_2016.groupby('IDCLIENT').agg(
    NBRE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='count'),
    TOTAL_ACHAT_2016=pd.NamedAgg(column='TIC_TOTALTTC', aggfunc='sum'),
    PREMIERE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='min'),
    DERNIERE_COMMANDE_2016=pd.NamedAgg(column='TIC_DATE', aggfunc='max')
).reset_index()

In [60]:
Botanic_features_2016

,IDCLIENT,NBRE_COMMANDE_2016,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016
0,10000.0,60,1936.76,2016-01-20,2016-11-20
1,100002.0,32,910.08,2016-01-08,2016-10-31
2,100008.0,12,513.12,2016-05-23,2016-06-24
3,100010.0,28,957.80,2016-02-11,2016-12-09
4,100019.0,36,2636.12,2016-01-29,2016-11-22
...,...,...,...,...,...
285458,99973.0,12,1144.84,2016-12-07,2016-12-18
285459,99975.0,20,847.80,2016-04-30,2016-11-26
285460,99977.0,20,418.48,2016-09-18,2016-11-27
285461,99986.0,12,1739.20,2016-04-14,2016-12-08
285462,99999.0,20,648.44,2016-05-16,2016-08-11

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [61]:
Botanic_features_2016.isnull().sum().sum()

0

Calcul de l'ancienneté de la première et dernière commande pour chaque client à partir de la date de référence

In [62]:
# Définir la date de fin 2016
end_date_2016 = pd.to_datetime('2016-12-31')

# 3. Calculer ANCIENNETE_1ERE_CDE et ANCIENNETE_DERNIERE_CDE
Botanic_features_2016['ANCIENNETE_1ERE_CDE_2016'] = (end_date_2016 - Botanic_features_2016['PREMIERE_COMMANDE_2016']).dt.days
Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016'] = (end_date_2016 - Botanic_features_2016['DERNIERE_COMMANDE_2016']).dt.days

# 4. Afficher le DataFrame mis à jour
print(Botanic_features_2016)

        IDCLIENT  NBRE_COMMANDE_2016  TOTAL_ACHAT_2016 PREMIERE_COMMANDE_2016  \
0        10000.0                  60           1936.76             2016-01-20
1       100002.0                  32            910.08             2016-01-08
2       100008.0                  12            513.12             2016-05-23
3       100010.0                  28            957.80             2016-02-11
4       100019.0                  36           2636.12             2016-01-29
...          ...                 ...               ...                    ...
285458   99973.0                  12           1144.84             2016-12-07
285459   99975.0                  20            847.80             2016-04-30
285460   99977.0                  20            418.48             2016-09-18
285461   99986.0                  12           1739.20             2016-04-14
285462   99999.0                  20            648.44             2016-05-16

       DERNIERE_COMMANDE_2016  ANCIENNETE_1ERE_CDE_2016  \
0                  2016-11-20                       346
1                  2016-10-31                       358
2                  2016-06-24                       222
3                  2016-12-09                       324
4                  2016-11-22                       337
...                       ...                       ...
285458             2016-12-18                        24
285459             2016-11-26                       245
285460             2016-11-27                       104
285461             2016-12-08                       261
285462             2016-08-11                       229

        ANCIENNETE_DERNIERE_CDE_2016
0                                 41
1                                 61
2                                190
3                                 22
4                                 39
...                              ...
285458                            13
285459                            35
285460                            34
285461                            23
285462                           142

[285463 rows x 7 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [63]:
Botanic_features_2016.isnull().sum().sum()

0

Calcul du temps moyen entre 2 commandes en 2016

In [64]:
#Calcul du temps moyen entre 2 commandes en 2016
Botanic_features_2016['TEMPS_MOY_CDE_2016']= (Botanic_features_2016['ANCIENNETE_1ERE_CDE_2016']- Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016']) /(Botanic_features_2016['NBRE_COMMANDE_2016']-1)
# Affichage du DataFrame final
print(Botanic_features_2016)

        IDCLIENT  NBRE_COMMANDE_2016  TOTAL_ACHAT_2016 PREMIERE_COMMANDE_2016  \
0        10000.0                  60           1936.76             2016-01-20
1       100002.0                  32            910.08             2016-01-08
2       100008.0                  12            513.12             2016-05-23
3       100010.0                  28            957.80             2016-02-11
4       100019.0                  36           2636.12             2016-01-29
...          ...                 ...               ...                    ...
285458   99973.0                  12           1144.84             2016-12-07
285459   99975.0                  20            847.80             2016-04-30
285460   99977.0                  20            418.48             2016-09-18
285461   99986.0                  12           1739.20             2016-04-14
285462   99999.0                  20            648.44             2016-05-16

       DERNIERE_COMMANDE_2016  ANCIENNETE_1ERE_CDE_2016  \
0                  2016-11-20                       346
1                  2016-10-31                       358
2                  2016-06-24                       222
3                  2016-12-09                       324
4                  2016-11-22                       337
...                       ...                       ...
285458             2016-12-18                        24
285459             2016-11-26                       245
285460             2016-11-27                       104
285461             2016-12-08                       261
285462             2016-08-11                       229

        ANCIENNETE_DERNIERE_CDE_2016  TEMPS_MOY_CDE_2016
0                                 41            5.169492
1                                 61            9.580645
2                                190            2.909091
3                                 22           11.185185
4                                 39            8.514286
...                              ...                 ...
285458                            13            1.000000
285459                            35           11.052632
285460                            34            3.684211
285461                            23           21.636364
285462                           142            4.578947

[285463 rows x 8 columns]

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [65]:
Botanic_features_2016.isnull().sum().sum()

0

CALCUL DE LA FRÉQUENCE DES COMMANDES

In [66]:
# Création de la variable 'FREQ_COMMANDE' basée sur la colonne 'TEMPS_MOY_CDE'
Botanic_features_2016['FREQ_COMMANDE_2016'] = Botanic_features_2016['TEMPS_MOY_CDE_2016']/Botanic_features_2016['ANCIENNETE_DERNIERE_CDE_2016']

# Afficher le DataFrame avec la nouvelle variable 'COMMANDE'
Botanic_features_2016['FREQ_COMMANDE_2016']

0         0.126085
1         0.157060
2         0.015311
3         0.508418
4         0.218315
            ...
285458    0.076923
285459    0.315789
285460    0.108359
285461    0.940711
285462    0.032246
Name: FREQ_COMMANDE_2016, Length: 285463, dtype: float64

In [67]:
Botanic_features_2016.head()

,IDCLIENT,NBRE_COMMANDE_2016,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016,ANCIENNETE_1ERE_CDE_2016,ANCIENNETE_DERNIERE_CDE_2016,TEMPS_MOY_CDE_2016,FREQ_COMMANDE_2016
0,10000.0,60,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085
1,100002.0,32,910.08,2016-01-08,2016-10-31,358,61,9.580645,0.157060
2,100008.0,12,513.12,2016-05-23,2016-06-24,222,190,2.909091,0.015311
3,100010.0,28,957.80,2016-02-11,2016-12-09,324,22,11.185185,0.508418
4,100019.0,36,2636.12,2016-01-29,2016-11-22,337,39,8.514286,0.218315

In [68]:
# Vérification des valeurs manquantes
print("Valeurs manquantes par colonne avant suppression des lignes:\n", Botanic_features_2016.isnull().sum())

# Suppression des lignes contenant des valeurs manquantes
df_dropped = Botanic_features_2016.dropna()

# Vérification après suppression
print("\nValeurs manquantes par colonne après suppression des lignes:\n", df_dropped.isnull().sum())
print("\nNombre de lignes avant suppression:", Botanic_features_2016.shape[0])
print("Nombre de lignes après suppression:", df_dropped.shape[0])

Valeurs manquantes par colonne avant suppression des lignes:
 IDCLIENT                         0
NBRE_COMMANDE_2016               0
TOTAL_ACHAT_2016                 0
PREMIERE_COMMANDE_2016           0
DERNIERE_COMMANDE_2016           0
ANCIENNETE_1ERE_CDE_2016         0
ANCIENNETE_DERNIERE_CDE_2016     0
TEMPS_MOY_CDE_2016               0
FREQ_COMMANDE_2016              87
dtype: int64

Valeurs manquantes par colonne après suppression des lignes:
 IDCLIENT                        0
NBRE_COMMANDE_2016              0
TOTAL_ACHAT_2016                0
PREMIERE_COMMANDE_2016          0
DERNIERE_COMMANDE_2016          0
ANCIENNETE_1ERE_CDE_2016        0
ANCIENNETE_DERNIERE_CDE_2016    0
TEMPS_MOY_CDE_2016              0
FREQ_COMMANDE_2016              0
dtype: int64

Nombre de lignes avant suppression: 285463
Nombre de lignes après suppression: 285376

In [69]:

df_2017['TIC_DATE'] = pd.to_datetime(df_2017['TIC_DATE'], dayfirst=True)

# Calculer le nombre de commandes en 2017 pour chaque client
Botanic_nbre_cde_2017 = df_2017.groupby('IDCLIENT').size().reset_index(name='NBRE_CDE_2017')
print(Botanic_nbre_cde_2017)

C:\Users\belga\AppData\Local\Temp\ipykernel_25696\3219817402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017['TIC_DATE'] = pd.to_datetime(df_2017['TIC_DATE'], dayfirst=True)

        IDCLIENT  NBRE_CDE_2017
0        10000.0             64
1       100002.0              4
2       100004.0             32
3       100008.0             16
4       100010.0             40
...          ...            ...
274417   99965.0             24
274418    9997.0              8
274419   99973.0              8
274420   99975.0             44
274421   99986.0             24

[274422 rows x 2 columns]

In [70]:
# Convertir la colonne de date en datetime
df_2017['DATEREADHESION'] = pd.to_datetime(df_2017['DATEREADHESION'], dayfirst=True)

# Filtrer pour garder uniquement les commandes de 2017
df_2017 = df_2017[df_2017['DATEREADHESION'].dt.year == 2017]

# Fixer la date de référence pour 2017 (fin de 2017)
end_of_2017 = pd.Timestamp('2017-12-31')

# Calculer l'ancienneté en 2017 pour chaque client par rapport à DATEREADHESION
df_2017['ANCIENNETE_READ_2017'] = (end_of_2017 - df_2017['DATEREADHESION']).dt.days
# Convertir les jours en mois (~30.44 jours par mois)
df_2017['ANCIENNETE_READ_2017_MONTHS'] = (df_2017['ANCIENNETE_READ_2017'] / 30.44).astype(int)
# Prendre la première date d'adhésion pour chaque client
client_anciennete = df_2017.groupby('IDCLIENT')['ANCIENNETE_READ_2017'].first().reset_index()
# Fusionner avec le DataFrame contenant le nombre de commandes
result = pd.merge(Botanic_nbre_cde_2017, client_anciennete, on='IDCLIENT')

print(result)

C:\Users\belga\AppData\Local\Temp\ipykernel_25696\3017764372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017['DATEREADHESION'] = pd.to_datetime(df_2017['DATEREADHESION'], dayfirst=True)

        IDCLIENT  NBRE_CDE_2017  ANCIENNETE_READ_2017
0        10000.0             64                   234
1       100004.0             32                   100
2       100010.0             40                   213
3       100024.0             76                    74
4       100027.0              8                   224
...          ...            ...                   ...
182130   99960.0             36                   206
182131   99964.0             16                   147
182132   99965.0             24                   223
182133   99975.0             44                    62
182134   99986.0             24                    65

[182135 rows x 3 columns]

In [71]:
# Convertir les jours en mois (~30.44 jours par mois)
df_2017['ANCIENNETE_READ_2017_MONTHS'] = (df_2017['ANCIENNETE_READ_2017'] / 30.44).astype(int)

# Prendre la première ancienneté en mois pour chaque client
client_anciennete = df_2017.groupby('IDCLIENT')['ANCIENNETE_READ_2017_MONTHS'].first().reset_index()

# Fusionner avec le DataFrame contenant le nombre de commandes
result = pd.merge(Botanic_nbre_cde_2017, client_anciennete, on='IDCLIENT')

# Discrétiser l'ancienneté en mois en catégories
bins = [0, 2, 6, 10, float('inf')]
labels = ['0-2 mois', '2-6 mois', '6-10 mois', 'plus de 10 mois']
result['ANCIENNETE_READ_CAT_2017'] = pd.cut(result['ANCIENNETE_READ_2017_MONTHS'], bins=bins, labels=labels, right=False)

In [72]:
result['ANCIENNETE_READ_CAT_2017'].value_counts()

ANCIENNETE_READ_CAT_2017
6-10 mois          85961
2-6 mois           47382
0-2 mois           33932
plus de 10 mois    14860
Name: count, dtype: int64

In [73]:
result

,IDCLIENT,NBRE_CDE_2017,ANCIENNETE_READ_2017_MONTHS,ANCIENNETE_READ_CAT_2017
0,10000.0,64,7,6-10 mois
1,100004.0,32,3,2-6 mois
2,100010.0,40,6,6-10 mois
3,100024.0,76,2,2-6 mois
4,100027.0,8,7,6-10 mois
...,...,...,...,...
182130,99960.0,36,6,6-10 mois
182131,99964.0,16,4,2-6 mois
182132,99965.0,24,7,6-10 mois
182133,99975.0,44,2,2-6 mois
182134,99986.0,24,2,2-6 mois

IDENTIFICATION DES VALEURS MANQUANTES (RAS).

In [74]:
result.isnull().sum().sum()

0

In [75]:

# Fusionner les caractéristiques de 2016 avec les commandes de 2017
df_BOTANIC_combined = pd.merge(df_BOTANIC_1, Botanic_features_2016, on='IDCLIENT', how='inner')
# Afficher le DataFrame final
print(df_BOTANIC_combined)

         IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE     AGE_GROUP  \
0         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
1         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
2         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
3         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
4         10000.0     PRI     2017-05-11     69259  FEMME      Inconnue
...           ...     ...            ...       ...    ...           ...
11283943  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11283944  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11283945  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11283946  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60
11283947  99999.0     FRV     2015-05-17     69089  FEMME  AGE DE 46-60

          ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                   14.190281                  3 ans+       6-12 mois
1                   14.190281                  3 ans+       6-12 mois
2                   14.190281                  3 ans+       6-12 mois
3                   14.190281                  3 ans+       6-12 mois
4                   14.190281                  3 ans+       6-12 mois
...                       ...                     ...             ...
11283943            11.216975                  3 ans+      24-36 mois
11283944            11.216975                  3 ans+      24-36 mois
11283945            11.216975                  3 ans+      24-36 mois
11283946            11.216975                  3 ans+      24-36 mois
11283947            11.216975                  3 ans+      24-36 mois

                 VILLE  ... Univers_Prefere Total_Articles NBRE_COMMANDE_2016  \
0         SAINT-PRIEST  ...               0            194                 60
1         SAINT-PRIEST  ...               0            194                 60
2         SAINT-PRIEST  ...               0            194                 60
3         SAINT-PRIEST  ...               0            194                 60
4         SAINT-PRIEST  ...               0            194                 60
...                ...  ...             ...            ...                ...
11283943  FRANCHEVILLE  ...               0             46                 20
11283944  FRANCHEVILLE  ...               0             46                 20
11283945  FRANCHEVILLE  ...               0             46                 20
11283946  FRANCHEVILLE  ...               0             46                 20
11283947  FRANCHEVILLE  ...               0             46                 20

         TOTAL_ACHAT_2016  PREMIERE_COMMANDE_2016  DERNIERE_COMMANDE_2016  \
0                 1936.76              2016-01-20              2016-11-20
1                 1936.76              2016-01-20              2016-11-20
2                 1936.76              2016-01-20              2016-11-20
3                 1936.76              2016-01-20              2016-11-20
4                 1936.76              2016-01-20              2016-11-20
...                   ...                     ...                     ...
11283943           648.44              2016-05-16              2016-08-11
11283944           648.44              2016-05-16              2016-08-11
11283945           648.44              2016-05-16              2016-08-11
11283946           648.44              2016-05-16              2016-08-11
11283947           648.44              2016-05-16              2016-08-11

         ANCIENNETE_1ERE_CDE_2016  ANCIENNETE_DERNIERE_CDE_2016  \
0                             346                            41
1                             346                            41
2                             346                            41
3                             346                            41
4                             346                            41
...                           ...                           ...
11283943                      229                           142
11283944                      229                           142
11283945                      229                           142
11283946                      229                           142
11283947                      229                           142

          TEMPS_MOY_CDE_2016  FREQ_COMMANDE_2016
0                   5.169492            0.126085
1                   5.169492            0.126085
2                   5.169492            0.126085
3                   5.169492            0.126085
4                   5.169492            0.126085
...                      ...                 ...
11283943            4.578947            0.032246
11283944            4.578947            0.032246
11283945            4.578947            0.032246
11283946            4.578947            0.032246
11283947            4.578947            0.032246

[11283948 rows x 36 columns]

In [76]:
# Fusionner df_BOTANIC_1 avec df_BOTANIC_combined sur 'IDCLIENT'
df_BOTANIC_F = pd.merge(df_BOTANIC_combined, result, on='IDCLIENT', how='inner')
print(df_BOTANIC_F)

        IDCLIENT MAGASIN DATEREADHESION CODEINSEE   SEXE      AGE_GROUP  \
0        10000.0     PRI     2017-05-11     69259  FEMME       Inconnue
1        10000.0     PRI     2017-05-11     69259  FEMME       Inconnue
2        10000.0     PRI     2017-05-11     69259  FEMME       Inconnue
3        10000.0     PRI     2017-05-11     69259  FEMME       Inconnue
4        10000.0     PRI     2017-05-11     69259  FEMME       Inconnue
...          ...     ...            ...       ...    ...            ...
7405187  99986.0     MUL     2017-10-27     68206  FEMME  AGE DE 61-100
7405188  99986.0     MUL     2017-10-27     68206  FEMME  AGE DE 61-100
7405189  99986.0     MUL     2017-10-27     68206  FEMME  AGE DE 61-100
7405190  99986.0     MUL     2017-10-27     68206  FEMME  AGE DE 61-100
7405191  99986.0     MUL     2017-10-27     68206  FEMME  AGE DE 61-100

         ANCIENNETE_ADHESION ANCIENNETE_ADHESION_CAT ANCIENNETE_READ  \
0                  14.190281                  3 ans+       6-12 mois
1                  14.190281                  3 ans+       6-12 mois
2                  14.190281                  3 ans+       6-12 mois
3                  14.190281                  3 ans+       6-12 mois
4                  14.190281                  3 ans+       6-12 mois
...                      ...                     ...             ...
7405187            13.552361                  3 ans+        0-6 mois
7405188            13.552361                  3 ans+        0-6 mois
7405189            13.552361                  3 ans+        0-6 mois
7405190            13.552361                  3 ans+        0-6 mois
7405191            13.552361                  3 ans+        0-6 mois

                VILLE  ... TOTAL_ACHAT_2016 PREMIERE_COMMANDE_2016  \
0        SAINT-PRIEST  ...          1936.76             2016-01-20
1        SAINT-PRIEST  ...          1936.76             2016-01-20
2        SAINT-PRIEST  ...          1936.76             2016-01-20
3        SAINT-PRIEST  ...          1936.76             2016-01-20
4        SAINT-PRIEST  ...          1936.76             2016-01-20
...               ...  ...              ...                    ...
7405187      MULHOUSE  ...          1739.20             2016-04-14
7405188      MULHOUSE  ...          1739.20             2016-04-14
7405189      MULHOUSE  ...          1739.20             2016-04-14
7405190      MULHOUSE  ...          1739.20             2016-04-14
7405191      MULHOUSE  ...          1739.20             2016-04-14

        DERNIERE_COMMANDE_2016 ANCIENNETE_1ERE_CDE_2016  \
0                   2016-11-20                      346
1                   2016-11-20                      346
2                   2016-11-20                      346
3                   2016-11-20                      346
4                   2016-11-20                      346
...                        ...                      ...
7405187             2016-12-08                      261
7405188             2016-12-08                      261
7405189             2016-12-08                      261
7405190             2016-12-08                      261
7405191             2016-12-08                      261

         ANCIENNETE_DERNIERE_CDE_2016  TEMPS_MOY_CDE_2016 FREQ_COMMANDE_2016  \
0                                  41            5.169492           0.126085
1                                  41            5.169492           0.126085
2                                  41            5.169492           0.126085
3                                  41            5.169492           0.126085
4                                  41            5.169492           0.126085
...                               ...                 ...                ...
7405187                            23           21.636364           0.940711
7405188                            23           21.636364           0.940711
7405189                            23           21.636364           0.940711
7405190                            23           21.636364           0.940711
7405191                            23           21.636364           0.940711

         NBRE_CDE_2017  ANCIENNETE_READ_2017_MONTHS  ANCIENNETE_READ_CAT_2017
0                   64                            7                 6-10 mois
1                   64                            7                 6-10 mois
2                   64                            7                 6-10 mois
3                   64                            7                 6-10 mois
4                   64                            7                 6-10 mois
...                ...                          ...                       ...
7405187             24                            2                  2-6 mois
7405188             24                            2                  2-6 mois
7405189             24                            2                  2-6 mois
7405190             24                            2                  2-6 mois
7405191             24                            2                  2-6 mois

[7405192 rows x 39 columns]

In [77]:
df_BOTANIC_F.head()

,IDCLIENT,MAGASIN,DATEREADHESION,CODEINSEE,SEXE,AGE_GROUP,ANCIENNETE_ADHESION,ANCIENNETE_ADHESION_CAT,ANCIENNETE_READ,VILLE,...,TOTAL_ACHAT_2016,PREMIERE_COMMANDE_2016,DERNIERE_COMMANDE_2016,ANCIENNETE_1ERE_CDE_2016,ANCIENNETE_DERNIERE_CDE_2016,TEMPS_MOY_CDE_2016,FREQ_COMMANDE_2016,NBRE_CDE_2017,ANCIENNETE_READ_2017_MONTHS,ANCIENNETE_READ_CAT_2017
0,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085,64,7,6-10 mois
1,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085,64,7,6-10 mois
2,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085,64,7,6-10 mois
3,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085,64,7,6-10 mois
4,10000.0,PRI,2017-05-11,69259,FEMME,Inconnue,14.190281,3 ans+,6-12 mois,SAINT-PRIEST,...,1936.76,2016-01-20,2016-11-20,346,41,5.169492,0.126085,64,7,6-10 mois

In [78]:
df_BOTANIC_F.shape

(7405192, 39)

In [79]:
# Vérification des valeurs manquantes
print("Valeurs manquantes par colonne avant suppression des lignes:\n", df_BOTANIC_F.isnull().sum())

# Suppression des lignes contenant des valeurs manquantes
df_BOTANIC_F = df_BOTANIC_F.dropna()

# Vérification après suppression
print("\nValeurs manquantes par colonne après suppression des lignes:\n", df_dropped.isnull().sum())
print("\nNombre de lignes avant suppression:", df_BOTANIC_F.shape[0])
print("Nombre de lignes après suppression:", df_BOTANIC_F.shape[0])

Valeurs manquantes par colonne avant suppression des lignes:
 IDCLIENT                          0
MAGASIN                           0
DATEREADHESION                    0
CODEINSEE                         0
SEXE                              0
AGE_GROUP                         0
ANCIENNETE_ADHESION               0
ANCIENNETE_ADHESION_CAT           0
ANCIENNETE_READ                   0
VILLE                             0
LIBELLEDEPARTEMENT                0
LIBELLEREGIONCOMMERCIALE          0
IDTICKET                          0
TIC_DATE                          0
TIC_TOTALTTC                      0
FREQ_MAG                          0
TYPE_UNIVERS                      0
CODEUNIVERS                       0
Quantite                          0
NBRE_ARTICLE                      0
NBRE_FAM_ARTICLE                  0
TOTAL_REMISE                      0
MONTANT_TOTAL                     0
MARGE                             0
Variete_Panier                    0
Nb_Univers                        0
Univers_Prefere                   0
Total_Articles                    0
NBRE_COMMANDE_2016                0
TOTAL_ACHAT_2016                  0
PREMIERE_COMMANDE_2016            0
DERNIERE_COMMANDE_2016            0
ANCIENNETE_1ERE_CDE_2016          0
ANCIENNETE_DERNIERE_CDE_2016      0
TEMPS_MOY_CDE_2016                0
FREQ_COMMANDE_2016              404
NBRE_CDE_2017                     0
ANCIENNETE_READ_2017_MONTHS       0
ANCIENNETE_READ_CAT_2017          0
dtype: int64

Valeurs manquantes par colonne après suppression des lignes:
 IDCLIENT                        0
NBRE_COMMANDE_2016              0
TOTAL_ACHAT_2016                0
PREMIERE_COMMANDE_2016          0
DERNIERE_COMMANDE_2016          0
ANCIENNETE_1ERE_CDE_2016        0
ANCIENNETE_DERNIERE_CDE_2016    0
TEMPS_MOY_CDE_2016              0
FREQ_COMMANDE_2016              0
dtype: int64

Nombre de lignes avant suppression: 7404788
Nombre de lignes après suppression: 7404788

In [80]:
df_BOTANIC_F.shape

(7404788, 39)

IDENTIFICATION DES VARIABLES CATÉGORIELLES

In [81]:
# Avant la conversion: identifier les valeurs non conformes
print('Types de colonnes avant la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT avant la conversion:')
print(df_BOTANIC_1['IDCLIENT'].unique())

# Remplacer les valeurs flottantes (qui sont en fait des chaînes de caractères) par leur partie entière
df_BOTANIC_F['IDCLIENT'] = df_BOTANIC_F['IDCLIENT'].apply(lambda x: str(int(float(x))) if '.' in str(x) else x)

# Maintenant, convertir 'IDCLIENT' en type int, en ignorant les erreurs qui pourraient rester
df_BOTANIC_F['IDCLIENT'] = pd.to_numeric(df_BOTANIC_F['IDCLIENT'], errors='coerce').fillna(0).astype(int)

# Voir les types de colonnes après la conversion
print('\nTypes de colonnes après la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT après la conversion:')
print(df_BOTANIC_F['IDCLIENT'].unique())

Types de colonnes avant la conversion:
IDCLIENT                                object
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                               object
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                object
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT avant la conversion:
['10000.0' '100002.0' '100004.0' ... '99977.0' '99986.0' '99999.0']

Types de colonnes après la conversion:
IDCLIENT                                 int32
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                               object
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                object
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT après la conversion:
[ 10000 100010 100024 ...  99965  99975  99986]

In [82]:
# Avant la conversion: identifier les valeurs non conformes
print('Types de colonnes avant la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT avant la conversion:')
print(df_BOTANIC_F['CODEINSEE'].unique())

# Remplacer les valeurs flottantes (qui sont en fait des chaînes de caractères) par leur partie entière
df_BOTANIC_F['CODEINSEE'] = df_BOTANIC_F['CODEINSEE'].apply(lambda x: str(int(float(x))) if '.' in str(x) else x)

# Maintenant, convertir 'IDCLIENT' en type int, en ignorant les erreurs qui pourraient rester
df_BOTANIC_F['CODEINSEE'] = pd.to_numeric(df_BOTANIC_F['CODEINSEE'], errors='coerce').fillna(0).astype(int)

# Voir les types de colonnes après la conversion
print('\nTypes de colonnes après la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT après la conversion:')
print(df_BOTANIC_F['CODEINSEE'].unique())

Types de colonnes avant la conversion:
IDCLIENT                                 int32
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                               object
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                object
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT avant la conversion:
['69259' '57102' '13056' ... '26239' '57075' '68206']

Types de colonnes après la conversion:
IDCLIENT                                 int32
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                                int32
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                object
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT après la conversion:
[69259 57102 13056 ... 26239 57075 68206]

In [83]:

# Avant la conversion: identifier les valeurs non conformes
print('Types de colonnes avant la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT avant la conversion:')
print(df_BOTANIC_F['IDTICKET'].unique())

# Remplacer les valeurs flottantes (qui sont en fait des chaînes de caractères) par leur partie entière
df_BOTANIC_F['IDTICKET'] = df_BOTANIC_F['IDTICKET'].apply(lambda x: str(int(float(x))) if '.' in str(x) else x)

# Maintenant, convertir 'IDCLIENT' en type int, en ignorant les erreurs qui pourraient rester
df_BOTANIC_F['IDTICKET'] = pd.to_numeric(df_BOTANIC_F['IDTICKET'], errors='coerce').fillna(0).astype(int)

# Voir les types de colonnes après la conversion
print('\nTypes de colonnes après la conversion:')
print(df_BOTANIC_F.dtypes)
print('\nValeurs uniques dans IDCLIENT après la conversion:')
print(df_BOTANIC_F['IDTICKET'].unique())

Types de colonnes avant la conversion:
IDCLIENT                                 int32
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                                int32
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                object
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT avant la conversion:
['290100593170' '290100603469' '290100608365' ... '260300225975'
 '260500030705' '260200500010']

Types de colonnes après la conversion:
IDCLIENT                                 int32
MAGASIN                                 object
DATEREADHESION                  datetime64[ns]
CODEINSEE                                int32
SEXE                                    object
AGE_GROUP                               object
ANCIENNETE_ADHESION                    float64
ANCIENNETE_ADHESION_CAT               category
ANCIENNETE_READ                       category
VILLE                                   object
LIBELLEDEPARTEMENT                      object
LIBELLEREGIONCOMMERCIALE                object
IDTICKET                                 int32
TIC_DATE                        datetime64[ns]
TIC_TOTALTTC                           float64
FREQ_MAG                                 int64
TYPE_UNIVERS                            object
CODEUNIVERS                              int32
Quantite                               float64
NBRE_ARTICLE                             int64
NBRE_FAM_ARTICLE                         int64
TOTAL_REMISE                           float64
MONTANT_TOTAL                          float64
MARGE                                  float64
Variete_Panier                           int64
Nb_Univers                               int64
Univers_Prefere                          int32
Total_Articles                           int64
NBRE_COMMANDE_2016                       int64
TOTAL_ACHAT_2016                       float64
PREMIERE_COMMANDE_2016          datetime64[ns]
DERNIERE_COMMANDE_2016          datetime64[ns]
ANCIENNETE_1ERE_CDE_2016                 int64
ANCIENNETE_DERNIERE_CDE_2016             int64
TEMPS_MOY_CDE_2016                     float64
FREQ_COMMANDE_2016                     float64
NBRE_CDE_2017                            int64
ANCIENNETE_READ_2017_MONTHS              int32
ANCIENNETE_READ_CAT_2017              category
dtype: object

Valeurs uniques dans IDCLIENT après la conversion:
[-1957182958 -1957172659 -1957167763 ... -1692779081 -1492974351
 -1792505046]

In [84]:
BOTANIC_F="C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\BOTANIC.pkl"
df_BOTANIC_F.to_pickle(BOTANIC_F)